$quicksand_font : 'Quicksand', sans-serif;
//basic settings

$default_fontSize: 15px;
$default_lineHeight: 26px;

//base colors
$success_clr : #00c162;
$soft_red_clr : #dd1900;
$soft_gray_clr : #797979;
$soft_gray_clr_two : #a2a2a2;
$soft_gray_clr_three : #f7f7f7;
$lime_blue_clr: #1652f0;
$dark_blue_clr:#0b132d;
$light_blue_clr: #717f9d;
$soft_navi_clr: #1c2437;
$deep_gray_clr : #5f5f5f;
$lime_gray: #fafcff;
$lime_yellow: #ff7700;
$thin_green: #e6f1ff;
$white_clr : #fff;
$black_clr : #000;
$lime_dark : #111;
$body_clr: #fcfdff;

//social colors
$facebook_clr: #3b5998;
$twitter_clr: #1da1f2;
$google_plus_clr: #dd4b39;
$pintterest_clr: #bd081c;
$linkdin_clr: #0077b5;
$instagram_clr: #5851db;
$dribbble_clr: #ea4c89;
$behance_clr: #1769ff;
$youtube_clr: #cd201f;

//border color
$border_clr : #e8e9eb;
$border_clr_two : #f0f0f0;
$border_clr_three : #1f3552;
