<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="./assets/css/themify-icons.css">
  <link rel="stylesheet" href="./assets/css/slick.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/responsive.css">
  <title>Excoin cryptowatch</title>
</head>
<body>
    <div class="subheader">
        <nav class="navbar main-nav navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img class="navbar-logo" src="images/logo.png" alt="..."/>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="exchange-one.html">Exchange </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="exchange-one.html">Exchange Default</a></li>
                                <li class="nav-item"><a class="nav-link" href="exchange-two.html">Exchange Full</a></li>
                                <li class="nav-item"><a class="nav-link" href="exchange-three.html">Exchange Dark</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="chart.html">Chart</a></li>
                        <li class="nav-item"><a class="nav-link" href="features.html">Features</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#">Support</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="support.html">Support Default</a></li>
                                <li class="nav-item"><a class="nav-link" href="support-details.html">Support Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#">News</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="latest-news.html">Latest News</a></li>
                                <li class="nav-item"><a class="nav-link" href="news-details.html">News Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#">More</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="faq.html">Faq</a></li>
                                <li class="nav-item"><a class="nav-link" href="how-work.html">How Work</a></li>
                                <li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown language-option">
                            <a class="nav-link" href="#">
                                <i class="fas fa-globe"></i> EN
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                            <i class="fab fa-buysellads"></i> US
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-lira-sign"></i> UK
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item button">
                            <a class="btn nav-link" href="login.html">Login</a>
                        </li>
                        <li class="nav-item button active">
                            <a class="btn nav-link" href="signup.html">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Modal -->
        </nav><!-- main-nav-block -->
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="subheader-wrapper">
                        <h3>Explore Trading Charts</h3>
                        <p>
                            Many desktop publishing packages and web page editors now use <br>
                            Lorem Ipsum as their default model text
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- sub-header -->
    <div class="container">
        <!-- Tab panes -->
        <div class="teanding-info-block">
            <ul class="nav trending-info-tab">
                <li class="nav-item">
                    <div class="dropdown trending-info-currency-option">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-dollar-sign"></i>
                            <span>USD</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownmenu">
                            <a class="dropdown-item" href="#">EUR</a>
                            <a class="dropdown-item" href="#">AUD</a>
                            <a class="dropdown-item" href="#">BND</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <form action="#" method="get" class="search-form">
                        <div class="input-box">
                            <input type="text" value="" required="" name="s" class="form-control" placeholder="Search...">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </li>
            </ul><!-- das-oreder-nav -->
            <div class="trandinginfo-table-block">
                <table class="table coin-list table-hover">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price ($)</th>
                            <th scope="col">Market Cap ($)</th>
                            <th scope="col">24h Volume ($)</th>
                            <th scope="col">Circulating Supply</th>
                            <th scope="col">24h Change</th>
                            <th scope="col">Max Supply</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td> 
                                <img src="images/tranding-info/1.png" alt="img" class="img-responsive">
                                <span>BTC (Bitcoin)</span>
                            </td>
                            <td>7696.03</td>
                            <td>130,572,961,388</td>
                            <td>442,387,398</td>
                            <td>16,966,275 BTC</td>
                            <td><span class="color-buy">11.33%</span></td>
                            <td>21,000,000 BTC</td>
                        </tr>
                        <tr>
                            <td>
                                2
                            </td>
                            <td>
                                <img src="images/tranding-info/2.png" alt="img" class="img-responsive">
                                ETH (Ethereum)
                            </td>
                            <td>463.50</td>
                            <td>45,750,870,630</td>
                            <td>197,383,150</td>
                            <td>98,707,380 ETH</td>
                            <td><span class="color-sell">-1.22%</span></td>
                            <td>98,707,380 ETH</td>
                        </tr>
                        <tr>
                            <td>
                                3
                            </td>
                            <td>
                                <img src="images/tranding-info/3.png" alt="img" class="img-responsive">
                                XRP (Ripple)
                            </td>
                            <td>0.60</td>
                            <td>23,460,842,862</td>
                            <td>87,755,400</td>
                            <td>39,094,520,623 XRP</td>
                            <td><span class="color-buy">6.91%</span></td>
                            <td>100,000,000,000 XRP</td>
                        </tr>
                        <tr>
                            <td>
                                4
                            </td>
                            <td>
                                <img src="images/tranding-info/4.png" alt="img" class="img-responsive">
                                BCC (Bitcoin Cash)
                            </td>
                            <td>714.90</td>
                            <td>12,198,714,022</td>
                            <td>27,768,921</td>
                            <td>17,063,525 BCC</td>
                            <td><span class="color-sell">-2.13%</span></td>
                            <td>21,000,000 BCC</td>
                        </tr>
                        <tr>
                            <td>
                                5
                            </td>
                            <td>
                                <img src="images/tranding-info/5.png" alt="img" class="img-responsive">
                                EOS (EOS)
                            </td>
                            <td>8.98</td>
                            <td>7,026,673,867</td>
                            <td>241,405,234</td>
                            <td>782,397,763 EOS</td>
                            <td><span class="color-buy">4.77%</span></td>
                            <td>1,000,000,000 EOS</td>
                        </tr>
                        <tr>
                            <td>
                                6
                            </td>
                            <td>
                                <img src="images/tranding-info/6.png" alt="img" class="img-responsive">
                                LTC (Litecoin)
                            </td>
                            <td>124.17</td>
                            <td>6,953,891,641</td>
                            <td>47,104,070</td>
                            <td>56,002,993 LTC</td>
                            <td><span class="color-sell">-2.80%</span></td>
                            <td>84,000,000 LTC</td>
                        </tr>
                        <tr>
                            <td>
                                7
                            </td>
                            <td>
                                <img src="images/tranding-info/7.png" alt="img" class="img-responsive">
                                ADA (Cardano)
                            </td>
                            <td>0.20</td>
                            <td>5,247,894,459</td>
                            <td>131,699,181</td>
                            <td>25,927,070,538 ADA</td>
                            <td><span class="color-buy">8.65%</span></td>
                            <td>45,000,000,000 ADA</td>
                        </tr>
                        <tr>
                            <td>
                                8
                            </td>
                            <td>
                                <img src="images/tranding-info/8.png" alt="img" class="img-responsive">
                                XLM (Stellar Lumens)
                            </td>
                            <td>0.23</td>
                            <td>4,248,819,663</td>
                            <td>30,292,844</td>
                            <td>18,550,971,412 XLM</td>
                            <td><span class="color-buy">0.47%</span></td>
                            <td>103,827,633,055 XLM</td>
                        </tr>
                        <tr>
                            <td>
                                9
                            </td>
                            <td>
                                <img src="images/tranding-info/9.png" alt="img" class="img-responsive">
                                NEO (NEO)
                            </td>
                            <td>62.90</td>
                            <td>4,088,500,000</td>
                            <td>120,532,746</td>
                            <td>65,000,000 NEO</td>
                            <td><span class="color-sell">-4.05%</span></td>
                            <td>100,000,000 NEO</td>
                        </tr>
                        <tr>
                            <td>
                                10
                            </td>
                            <td>
                                <img src="images/tranding-info/10.png" alt="img" class="img-responsive">
                                IOTA (MIOTA)
                            </td>
                            <td>1.30</td>
                            <td>3,603,111,988</td>
                            <td>18,831,658</td>
                            <td>2,779,530,283 IOTA</td>
                            <td><span class="color-buy">10.89%</span></td>
                            <td>2,779,530,283 IOTA</td>
                        </tr>
                        <tr>
                            <td>
                                11
                            </td>
                            <td>
                                <img src="images/tranding-info/11.png" alt="img" class="img-responsive">
                                BCD (Bitcoin Diamond)
                            </td>
                            <td>22.45</td>
                            <td>3,464,743,516</td>
                            <td>1,060,571</td>
                            <td>154,355,250 BCD</td>
                            <td><span class="color-sell">-1.57%</span></td>
                            <td>210,000,000 BCD</td>
                        </tr>
                        <tr>
                            <td>
                                12
                            </td>
                            <td>
                                <img src="images/tranding-info/12.png" alt="img" class="img-responsive">
                                XMR (Monero)
                            </td>
                            <td>185.85</td>
                            <td>2,956,928,273</td>
                            <td>8,460,005</td>
                            <td>15,909,942 XMR</td>
                            <td><span class="color-sell">-0.07%</span></td>
                            <td>15,909,942 XMR</td>
                        </tr>
                        <tr>
                            <td>
                                13
                            </td>
                            <td>
                                <img src="images/tranding-info/13.png" alt="img" class="img-responsive">
                                TRX (TRON)
                            </td>
                            <td>0.04</td>
                            <td>2,545,358,719</td>
                            <td>88,540,128</td>
                            <td>65,748,111,645 TRX</td>
                            <td><span class="color-buy">-4.57%</span></td>
                            <td>100,000,000,000 TRX</td>
                        </tr>
                        <tr>
                            <td>
                                14
                            </td>
                            <td>
                                <img src="images/tranding-info/14.png" alt="img" class="img-responsive">
                                XEM (NEM)
                            </td>
                            <td>0.27</td>
                            <td>2,402,660,756</td>
                            <td>3,219,847</td>
                            <td>8,999,999,999 XEM</td>
                            <td><span class="color-sell">-1.66%</span></td>
                            <td>8,999,999,999 XEM</td>
                        </tr>
                        <tr>
                            <td>
                                15
                            </td>
                            <td>
                                <img src="images/tranding-info/15.png" alt="img" class="img-responsive">
                                XVG (Verge)
                            </td>
                            <td>0.09</td>
                            <td>1,346,327,755</td>
                            <td>90,397,177</td>
                            <td>14,853,180,560 XVG</td>
                            <td><span class="color-sell">-4.79%</span></td>
                            <td>6,555,000,000 XVG</td>
                        </tr>
                        <tr>
                            <td>
                                16
                            </td>
                            <td>
                                <img src="images/tranding-info/16.png" alt="img" class="img-responsive">
                                OMG (OmiseGO)
                            </td>
                            <td>11.82</td>
                            <td>1,206,312,953</td>
                            <td>23,551,564</td>
                            <td>102,042,552 OMG</td>
                            <td><span class="color-buy">10.88%</span></td>
                            <td>140,245,398 OMG</td>
                        </tr>
                        <tr>
                            <td>
                                17
                            </td>
                            <td>
                                <img src="images/tranding-info/17.png" alt="img" class="img-responsive">
                                ICX (ICON)
                            </td>
                            <td>2.60</td>
                            <td>1,007,086,586</td>
                            <td>55,975,881</td>
                            <td>387,041,258 ICX</td>
                            <td><span class="color-buy">0.39%</span></td>
                            <td>400,228,750 ICX</td>
                        </tr>
                        <tr>
                            <td>
                                18
                            </td>
                            <td>
                                <img src="images/tranding-info/18.png" alt="img" class="img-responsive">
                                ZEC (Zcash)
                            </td>
                            <td>207.36</td>
                            <td>760,743,133</td>
                            <td>3,575,717</td>
                            <td>3,668,694 ZEC</td>
                            <td><span class="color-buy">2.53%</span></td>
                            <td>3,668,694 ZEC</td>
                        </tr>
                        <tr>
                            <td>
                                19
                            </td>
                            <td>
                                <img src="images/tranding-info/19.png" alt="img" class="img-responsive">
                                BTG (Bitcoin Gold)
                            </td>
                            <td>44.37</td>
                            <td>755,756,085</td>
                            <td>4,74a4,022</td>
                            <td>17,033,361 BTG</td>
                            <td><span class="color-sell">-3.31%</span></td>
                            <td>21,000,000 BTG</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- teanding-info-block -->
    </div>
    <div class="colto-section">
        <div class="container">
            <div class="colto-content-wrap">
                <div class="colto-content">
                    <h3>Getting started</h3>
                    <p>We provide professional and secure trading services for investors</p>
                </div>
                <div class="colto-btn-group">
                    <button class="btn callto-btn">Log In</button>
                    <span>or</span>
                    <button class="btn callto-btn">Create Account</button>
                </div>
            </div>
        </div>
    </div><!-- colto-section -->
    <!-- Call to Action End -->
    <footer class="footer">
        <div class="footer-upper-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="footer-logo">
                            <a href="#">
                                <img src="./images/logo.png" alt="img" class="img-responsive"/>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="footer-info-list">
                            <h4>About Us</h4>
                            <ul>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">Our Company</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Token Listing</a></li>
                                <li><a href="#">Join Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="footer-info-list">
                            <h4>Learn</h4>
                            <ul>
                                <li><a href="#">Legal</a></li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">AML&CFT</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="footer-info-list">
                            <h4>Help</h4>
                            <ul>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">API Support</a></li>
                                <li><a href="#">Coin/Token Listing</a></li>
                                <li><a href="#">Partnership</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="footer-info-list">
                            <h4>Contact Us</h4>
                            <ul class="contact-info">
                                <li>Email:  <span>info.excoin@gmail.com</span></li>
                                <li>Phone:   <span>+99 5589 54789</span></li>
                            </ul>
                            <ul class="social-style-two">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-icon-wrap">
                <a href="#">
                    <img src="./images/others/31.png" alt="img" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-wrap">
                    <div class="trade-volume-block">
                        <ul>
                            <li>
                                <span>39151</span> Active Traders
                            </li>
                            <li>
                                <span>4191 BTC</span> 24h Volume
                            </li>
                        </ul>
                    </div>
                    <div class="copyright-text">
                        © 2019 <a href="#">Excoin</a>. All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="./assets/js/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <script src="./assets/js/jquery.peity.min.js"></script>
    <script src="./assets/js/jquery.slimscroll.min.js"></script>
    <script src="./js/custom.js"></script>
</body>
</html>
