<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="./assets/css/themify-icons.css">
  <link rel="stylesheet" href="./assets/css/slick.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/responsive.css">
  <title>Excoin cryptowatch</title>
</head>
<body>
    <div class="subheader">
        
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="subheader-wrapper">
                        <h3>Our Features</h3>
                        <p>
                            Many desktop publishing packages and web page editors now use <br>
                            Lorem Ipsum as their default model text
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- sub-header -->
    <div class="features-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="features-block">
                        <img src="./images/others/9.png" alt="img" class="img-responsive">
                        <h4>Safe and secure</h4>
                        <p>
                            It uses a dictionary of over 200 Latin words, 
                            combined with a handful of model sentence structures, 
                            to generate Lorem
                        </p>
                    </div><!-- features-block -->
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="features-block">
                        <img src="./images/others/10.png" alt="img" class="img-responsive">
                        <h4>High Exchange Limits</h4>
                        <p>
                            It uses a dictionary of over 200 Latin words, 
                            combined with a handful of model sentence structures, 
                            to generate Lorem
                        </p>
                    </div><!-- features-block -->
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="features-block">
                        <img src="./images/others/11.png" alt="img" class="img-responsive">
                        <h4>Fast and Reliable</h4>
                        <p>
                            It uses a dictionary of over 200 Latin words, 
                            combined with a handful of model sentence structures, 
                            to generate Lorem
                        </p>
                    </div><!-- features-block -->
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="features-block">
                        <img src="./images/others/12.png" alt="img" class="img-responsive">
                        <h4>Margin Trading</h4>
                        <p>
                            It uses a dictionary of over 200 Latin words, 
                            combined with a handful of model sentence structures, 
                            to generate Lorem
                        </p>
                    </div><!-- features-block -->
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="features-block">
                        <img src="./images/others/13.png" alt="img" class="img-responsive">
                        <h4>24/7 Live Support</h4>
                        <p>
                            It uses a dictionary of over 200 Latin words, 
                            combined with a handful of model sentence structures, 
                            to generate Lorem
                        </p>
                    </div><!-- features-block -->
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="features-block">
                        <img src="./images/others/14.png" alt="img" class="img-responsive">
                        <h4>Secure storage</h4>
                        <p>
                            It uses a dictionary of over 200 Latin words, 
                            combined with a handful of model sentence structures, 
                            to generate Lorem
                        </p>
                    </div><!-- features-block -->
                </div>
            </div>
        </div>
    </div><!-- features-section -->
    <div class="counter-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="counter-block">
                        <h3>20m</h3>
                        <p>Worldwide potential clients</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter-block">
                        <h3>100x</h3>
                        <p>Faster transaction</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter-block">
                        <h3>$90B+</h3>
                        <p>Digital currency exchanged</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter-block">
                        <h3>8x</h3>
                        <p>Lower transaction costs</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- counter-section -->
    <div class="testimonials-section">
        <div class="container">
            <div class="row">
                <div class="offset-md-2 col-md-8">
                    <div class="testimonials-wrap">
                        <div class="testimonials-title">
                            <h3>Testimonials</h3>
                        </div>
                        <div id="testimonial" class="testimonial-slider">
                            <div>
                                <div class="testimonial-block">
                                    <img src="./images/others/15.png" alt="img">
                                    <p>
                                        “Contrary to popular belief, Lorem Ipsum is not simply random text. 
                                        It has roots in a piece of classical Latin literature from 45 BC, 
                                        making it over 2000 years old. Richard McClintock a Latin professor”
                                    </p>
                                    <div class="testimonials-author">
                                        <h5>Cathy K. Marchan</h5>
                                        <p>CEO, CoDes</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="testimonial-block">
                                    <img src="./images/others/16.png" alt="img">
                                    <p>
                                        “Contrary to popular belief, Lorem Ipsum is not simply random text. 
                                        It has roots in a piece of classical Latin literature from 45 BC, 
                                        making it over 2000 years old. Richard McClintock a Latin professor”
                                    </p>
                                    <div class="testimonials-author">
                                        <h5>Cathy K. Marchan</h5>
                                        <p>CEO, CoDes</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="testimonial-block">
                                    <img src="./images/others/17.png" alt="img">
                                    <p>
                                        “Contrary to popular belief, Lorem Ipsum is not simply random text. 
                                        It has roots in a piece of classical Latin literature from 45 BC, 
                                        making it over 2000 years old. Richard McClintock a Latin professor”
                                    </p>
                                    <div class="testimonials-author">
                                        <h5>Cathy K. Marchan</h5>
                                        <p>CEO, CoDes</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="testimonial-block">
                                    <img src="./images/others/18.png" alt="img">
                                    <p>
                                        “Contrary to popular belief, Lorem Ipsum is not simply random text. 
                                        It has roots in a piece of classical Latin literature from 45 BC, 
                                        making it over 2000 years old. Richard McClintock a Latin professor”
                                    </p>
                                    <div class="testimonials-author">
                                        <h5>Cathy K. Marchan</h5>
                                        <p>CEO, CoDes</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- testimonial-section -->
    <div class="colto-section">
        <div class="container">
            <div class="colto-content-wrap">
                <div class="colto-content">
                    <h3>Getting started</h3>
                    <p>We provide professional and secure trading services for investors</p>
                </div>
                <div class="colto-btn-group">
                    <button class="btn callto-btn">Log In</button>
                    <span>or</span>
                    <button class="btn callto-btn">Create Account</button>
                </div>
            </div>
        </div>
    </div><!-- colto-section -->
    <!-- Call to Action End -->
