<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="./assets/css/themify-icons.css">
  <link rel="stylesheet" href="./assets/css/slick.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/responsive.css">
  <title>Excoin cryptowatch</title>
</head>
<body>
    <div class="subheader">
        <nav class="navbar main-nav navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img class="navbar-logo" src="images/logo.png" alt="..."/>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="exchange-one.html">Exchange </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="exchange-one.html">Exchange Default</a></li>
                                <li class="nav-item"><a class="nav-link" href="exchange-two.html">Exchange Full</a></li>
                                <li class="nav-item"><a class="nav-link" href="exchange-three.html">Exchange Dark</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="chart.html">Chart</a></li>
                        <li class="nav-item"><a class="nav-link" href="features.html">Features</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#">Support</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="support.html">Support Default</a></li>
                                <li class="nav-item"><a class="nav-link" href="support-details.html">Support Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#">News</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="latest-news.html">Latest News</a></li>
                                <li class="nav-item"><a class="nav-link" href="news-details.html">News Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#">More</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="faq.html">Faq</a></li>
                                <li class="nav-item"><a class="nav-link" href="how-work.html">How Work</a></li>
                                <li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown language-option">
                            <a class="nav-link" href="#">
                                <i class="fas fa-globe"></i> EN
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                            <i class="fab fa-buysellads"></i> US
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-lira-sign"></i> UK
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item button">
                            <a class="btn nav-link" href="login.html">Login</a>
                        </li>
                        <li class="nav-item button active">
                            <a class="btn nav-link" href="signup.html">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Modal -->
        </nav><!-- main-nav-block -->
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="subheader-wrapper">
                        <h3>Our Features</h3>
                        <p>
                            Many desktop publishing packages and web page editors now use <br>
                            Lorem Ipsum as their default model text
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- sub-header -->
    <div class="features-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="features-block">
                        <img src="./images/others/9.png" alt="img" class="img-responsive">
                        <h4>Safe and secure</h4>
                        <p>
                            It uses a dictionary of over 200 Latin words, 
                            combined with a handful of model sentence structures, 
                            to generate Lorem
                        </p>
                    </div><!-- features-block -->
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="features-block">
                        <img src="./images/others/10.png" alt="img" class="img-responsive">
                        <h4>High Exchange Limits</h4>
                        <p>
                            It uses a dictionary of over 200 Latin words, 
                            combined with a handful of model sentence structures, 
                            to generate Lorem
                        </p>
                    </div><!-- features-block -->
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="features-block">
                        <img src="./images/others/11.png" alt="img" class="img-responsive">
                        <h4>Fast and Reliable</h4>
                        <p>
                            It uses a dictionary of over 200 Latin words, 
                            combined with a handful of model sentence structures, 
                            to generate Lorem
                        </p>
                    </div><!-- features-block -->
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="features-block">
                        <img src="./images/others/12.png" alt="img" class="img-responsive">
                        <h4>Margin Trading</h4>
                        <p>
                            It uses a dictionary of over 200 Latin words, 
                            combined with a handful of model sentence structures, 
                            to generate Lorem
                        </p>
                    </div><!-- features-block -->
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="features-block">
                        <img src="./images/others/13.png" alt="img" class="img-responsive">
                        <h4>24/7 Live Support</h4>
                        <p>
                            It uses a dictionary of over 200 Latin words, 
                            combined with a handful of model sentence structures, 
                            to generate Lorem
                        </p>
                    </div><!-- features-block -->
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="features-block">
                        <img src="./images/others/14.png" alt="img" class="img-responsive">
                        <h4>Secure storage</h4>
                        <p>
                            It uses a dictionary of over 200 Latin words, 
                            combined with a handful of model sentence structures, 
                            to generate Lorem
                        </p>
                    </div><!-- features-block -->
                </div>
            </div>
        </div>
    </div><!-- features-section -->
    <div class="counter-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="counter-block">
                        <h3>20m</h3>
                        <p>Worldwide potential clients</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter-block">
                        <h3>100x</h3>
                        <p>Faster transaction</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter-block">
                        <h3>$90B+</h3>
                        <p>Digital currency exchanged</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter-block">
                        <h3>8x</h3>
                        <p>Lower transaction costs</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- counter-section -->
    <div class="testimonials-section">
        <div class="container">
            <div class="row">
                <div class="offset-md-2 col-md-8">
                    <div class="testimonials-wrap">
                        <div class="testimonials-title">
                            <h3>Testimonials</h3>
                        </div>
                        <div id="testimonial" class="testimonial-slider">
                            <div>
                                <div class="testimonial-block">
                                    <img src="./images/others/15.png" alt="img">
                                    <p>
                                        “Contrary to popular belief, Lorem Ipsum is not simply random text. 
                                        It has roots in a piece of classical Latin literature from 45 BC, 
                                        making it over 2000 years old. Richard McClintock a Latin professor”
                                    </p>
                                    <div class="testimonials-author">
                                        <h5>Cathy K. Marchan</h5>
                                        <p>CEO, CoDes</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="testimonial-block">
                                    <img src="./images/others/16.png" alt="img">
                                    <p>
                                        “Contrary to popular belief, Lorem Ipsum is not simply random text. 
                                        It has roots in a piece of classical Latin literature from 45 BC, 
                                        making it over 2000 years old. Richard McClintock a Latin professor”
                                    </p>
                                    <div class="testimonials-author">
                                        <h5>Cathy K. Marchan</h5>
                                        <p>CEO, CoDes</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="testimonial-block">
                                    <img src="./images/others/17.png" alt="img">
                                    <p>
                                        “Contrary to popular belief, Lorem Ipsum is not simply random text. 
                                        It has roots in a piece of classical Latin literature from 45 BC, 
                                        making it over 2000 years old. Richard McClintock a Latin professor”
                                    </p>
                                    <div class="testimonials-author">
                                        <h5>Cathy K. Marchan</h5>
                                        <p>CEO, CoDes</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="testimonial-block">
                                    <img src="./images/others/18.png" alt="img">
                                    <p>
                                        “Contrary to popular belief, Lorem Ipsum is not simply random text. 
                                        It has roots in a piece of classical Latin literature from 45 BC, 
                                        making it over 2000 years old. Richard McClintock a Latin professor”
                                    </p>
                                    <div class="testimonials-author">
                                        <h5>Cathy K. Marchan</h5>
                                        <p>CEO, CoDes</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- testimonial-section -->
    <div class="colto-section">
        <div class="container">
            <div class="colto-content-wrap">
                <div class="colto-content">
                    <h3>Getting started</h3>
                    <p>We provide professional and secure trading services for investors</p>
                </div>
                <div class="colto-btn-group">
                    <button class="btn callto-btn">Log In</button>
                    <span>or</span>
                    <button class="btn callto-btn">Create Account</button>
                </div>
            </div>
        </div>
    </div><!-- colto-section -->
    <!-- Call to Action End -->
    <footer class="footer">
        <div class="footer-upper-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="footer-logo">
                            <a href="#">
                                <img src="./images/logo.png" alt="img" class="img-responsive"/>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="footer-info-list">
                            <h4>About Us</h4>
                            <ul>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">Our Company</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Token Listing</a></li>
                                <li><a href="#">Join Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="footer-info-list">
                            <h4>Learn</h4>
                            <ul>
                                <li><a href="#">Legal</a></li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">AML&CFT</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="footer-info-list">
                            <h4>Help</h4>
                            <ul>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">API Support</a></li>
                                <li><a href="#">Coin/Token Listing</a></li>
                                <li><a href="#">Partnership</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="footer-info-list">
                            <h4>Contact Us</h4>
                            <ul class="contact-info">
                                <li>Email:  <span>info.excoin@gmail.com</span></li>
                                <li>Phone:   <span>+99 5589 54789</span></li>
                            </ul>
                            <ul class="social-style-two">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-icon-wrap">
                <a href="#">
                    <img src="./images/others/31.png" alt="img" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-wrap">
                    <div class="trade-volume-block">
                        <ul>
                            <li>
                                <span>39151</span> Active Traders
                            </li>
                            <li>
                                <span>4191 BTC</span> 24h Volume
                            </li>
                        </ul>
                    </div>
                    <div class="copyright-text">
                        © 2019 <a href="#">Excoin</a>. All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="./assets/js/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <script src="./assets/js/jquery.peity.min.js"></script>
    <script src="./assets/js/jquery.slimscroll.min.js"></script>
    <script src="./js/custom.js"></script>
</body>
</html>
