<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="./assets/css/themify-icons.css">
  <link rel="stylesheet" href="./assets/css/slick.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/responsive.css">
  <title>Excoin cryptowatch</title>
</head>
<body>
    <div class="subheader">
        
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="subheader-wrapper">
                        <h3>Latest News</h3>
                        <p>
                            Many desktop publishing packages and web page editors now use <br>
                            Lorem Ipsum as their default model text
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- sub-header -->
    <div class="latest-post-section">
        <div class="container">
            <article class="post-style-two post-full-width">
                <div class="post-thumb">
                    <a href="#">
                        <img src="./images/post/1.jpg" alt="img" class="img-responsive">
                    </a>
                </div>
                <div class="post-contnet-wrap">
                    <span class="post-meta">30 NOV, 2019</span>
                    <h4 class="post-title">
                        <a href="#">
                            Publish what you think
                        </a>
                    </h4>
                    <p class="post-entry">
                        No third party can freeze or lose your funds! With enterprise-level
                        security superior to most other t is a long established fact that a
                        reader will be distracted by the readable content of a page when l
                        ooking at its layout. The point of using...
                    </p>
                    <div class="post-footer">
                        <div class="post-author-block">
                            <div class="author-thumb">
                                <a href="#">
                                    <img src="./images/post/authors/1.png" alt="img" class="img-responsive">
                                </a>
                            </div>
                            <div class="author-info">
                                <h5>
                                    <a href="#">
                                        Nayn e Castro
                                    </a>
                                </h5>
                                <a href="#">@excoin</a>
                            </div>
                        </div>
                        <!-- <div class="post-comments">
                            <img src="./images/post/cmnt-icon.png" alt="img" class="img-responsive">
                            <a href="#">03 Comments</a>
                        </div> -->
                    </div>
                </div>
            </article><!-- post-style-two -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <article class="post-style-two">
                        <div class="post-thumb">
                            <a href="#">
                                <img src="./images/post/2.jpg" alt="img" class="img-responsive">
                            </a>
                        </div>
                        <div class="post-contnet-wrap">
                            <span class="post-meta">30 NOV, 2019</span>
                            <h4 class="post-title">
                                <a href="#">
                                    Publish what you think
                                </a>
                            </h4>
                            <p class="post-entry">
                                No third party can freeze or lose your funds! With enterprise-level security
                                superior to most other t is a long established....
                            </p>
                            <div class="post-footer">
                                <div class="post-author-block">
                                    <div class="author-thumb">
                                        <a href="#">
                                            <img src="./images/post/authors/2.png" alt="img" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="author-info">
                                        <h5>
                                            <a href="#">
                                                Nayn e Castro
                                            </a>
                                        </h5>
                                        <a href="#">@excoin</a>
                                    </div>
                                </div>
                                <!-- <div class="post-comments">
                                    <img src="./images/post/cmnt-icon.png" alt="img" class="img-responsive">
                                    <a href="#">08</a>
                                </div> -->
                            </div>
                        </div>
                    </article><!-- post-style-two -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post-style-two ">
                        <div class="post-thumb">
                            <a href="#">
                                <img src="./images/post/3.jpg" alt="img" class="img-responsive">
                            </a>
                        </div>
                        <div class="post-contnet-wrap">
                            <span class="post-meta">30 NOV, 2019</span>
                            <h4 class="post-title">
                                <a href="#">
                                    Publish what you think
                                </a>
                            </h4>
                            <p class="post-entry">
                                No third party can freeze or lose your funds! With enterprise-level security
                                superior to most other t is a long established....
                            </p>
                            <div class="post-footer">
                                <div class="post-author-block">
                                    <div class="author-thumb">
                                        <a href="#">
                                            <img src="./images/post/authors/3.png" alt="img" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="author-info">
                                        <h5>
                                            <a href="#">
                                                Nayn e Castro
                                            </a>
                                        </h5>
                                        <a href="#">@excoin</a>
                                    </div>
                                </div>
                                <!-- <div class="post-comments">
                                    <img src="./images/post/cmnt-icon.png" alt="img" class="img-responsive">
                                    <a href="#">15</a>
                                </div> -->
                            </div>
                        </div>
                    </article><!-- post-style-two -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post-style-two">
                        <div class="post-thumb">
                            <a href="#">
                                <img src="./images/post/4.jpg" alt="img" class="img-responsive">
                            </a>
                        </div>
                        <div class="post-contnet-wrap">
                            <span class="post-meta">30 NOV, 2019</span>
                            <h4 class="post-title">
                                <a href="#">
                                    Publish what you think
                                </a>
                            </h4>
                            <p class="post-entry">
                                No third party can freeze or lose your funds! With enterprise-level security
                                superior to most other t is a long established....
                            </p>
                            <div class="post-footer">
                                <div class="post-author-block">
                                    <div class="author-thumb">
                                        <a href="#">
                                            <img src="./images/post/authors/4.png" alt="img" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="author-info">
                                        <h5>
                                            <a href="#">
                                                Nayn e Castro
                                            </a>
                                        </h5>
                                        <a href="#">@excoin</a>
                                    </div>
                                </div>
                                <!-- <div class="post-comments">
                                    <img src="./images/post/cmnt-icon.png" alt="img" class="img-responsive">
                                    <a href="#">05</a>
                                </div> -->
                            </div>
                        </div>
                    </article><!-- post-style-two -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post-style-two">
                        <div class="post-thumb">
                            <a href="#">
                                <img src="./images/post/5.jpg" alt="img" class="img-responsive">
                            </a>
                        </div>
                        <div class="post-contnet-wrap">
                            <span class="post-meta">30 NOV, 2019</span>
                            <h4 class="post-title">
                                <a href="#">
                                    Publish what you think
                                </a>
                            </h4>
                            <p class="post-entry">
                                No third party can freeze or lose your funds! With enterprise-level security
                                superior to most other t is a long established....
                            </p>
                            <div class="post-footer">
                                <div class="post-author-block">
                                    <div class="author-thumb">
                                        <a href="#">
                                            <img src="./images/post/authors/5.png" alt="img" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="author-info">
                                        <h5>
                                            <a href="#">
                                                Nayn e Castro
                                            </a>
                                        </h5>
                                        <a href="#">@excoin</a>
                                    </div>
                                </div>
                                <div class="post-comments">
                                    <img src="./images/post/cmnt-icon.png" alt="img" class="img-responsive">
                                    <a href="#">16</a>
                                </div>
                            </div>
                        </div>
                    </article><!-- post-style-two -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post-style-two">
                        <div class="post-thumb">
                            <a href="#">
                                <img src="./images/post/6.jpg" alt="img" class="img-responsive">
                            </a>
                        </div>
                        <div class="post-contnet-wrap">
                            <span class="post-meta">30 NOV, 2019</span>
                            <h4 class="post-title">
                                <a href="#">
                                    Publish what you think
                                </a>
                            </h4>
                            <p class="post-entry">
                                No third party can freeze or lose your funds! With enterprise-level security
                                superior to most other t is a long established....
                            </p>
                            <div class="post-footer">
                                <div class="post-author-block">
                                    <div class="author-thumb">
                                        <a href="#">
                                            <img src="./images/post/authors/6.png" alt="img" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="author-info">
                                        <h5>
                                            <a href="#">
                                                Nayn e Castro
                                            </a>
                                        </h5>
                                        <a href="#">@excoin</a>
                                    </div>
                                </div>
                                <div class="post-comments">
                                    <img src="./images/post/cmnt-icon.png" alt="img" class="img-responsive">
                                    <a href="#">25</a>
                                </div>
                            </div>
                        </div>
                    </article><!-- post-style-two -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post-style-two">
                        <div class="post-thumb">
                            <a href="#">
                                <img src="./images/post/7.jpg" alt="img" class="img-responsive">
                            </a>
                        </div>
                        <div class="post-contnet-wrap">
                            <span class="post-meta">30 NOV, 2019</span>
                            <h4 class="post-title">
                                <a href="#">
                                    Publish what you think
                                </a>
                            </h4>
                            <p class="post-entry">
                                No third party can freeze or lose your funds! With enterprise-level security
                                superior to most other t is a long established....
                            </p>
                            <div class="post-footer">
                                <div class="post-author-block">
                                    <div class="author-thumb">
                                        <a href="#">
                                            <img src="./images/post/authors/7.png" alt="img" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="author-info">
                                        <h5>
                                            <a href="#">
                                                Nayn e Castro
                                            </a>
                                        </h5>
                                        <a href="#">@excoin</a>
                                    </div>
                                </div>
                                <div class="post-comments">
                                    <img src="./images/post/cmnt-icon.png" alt="img" class="img-responsive">
                                    <a href="#">35</a>
                                </div>
                            </div>
                        </div>
                    </article><!-- post-style-two -->
                </div>
            </div>
        </div>
    </div>
    <div class="colto-section">
        <div class="container">
            <div class="colto-content-wrap">
                <div class="colto-content">
                    <h3>Getting started</h3>
                    <p>We provide professional and secure trading services for investors</p>
                </div>
                <div class="colto-btn-group">
                    <button class="btn callto-btn">Log In</button>
                    <span>or</span>
                    <button class="btn callto-btn">Create Account</button>
                </div>
            </div>
        </div>
    </div><!-- colto-section -->
    <!-- Call to Action End -->
