<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="./assets/css/themify-icons.css">
  <link rel="stylesheet" href="./assets/css/slick.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/responsive.css">
  <title>Excoin cryptowatch</title>
</head>
<body>
    <div class="user-login-signup-section modal-container">
      <nav class="navbar main-nav navbar-expand-lg">
          <div class="container">
              <a class="navbar-brand" href="index.html">
                  <img class="navbar-logo" src="images/logo.png" alt="..."/>
              </a>
              <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse " id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto ">
                      <li class="nav-item dropdown ">
                          <a class="nav-link" href="exchange-one.html">بازار معاملات </a>
                          <ul class="dropdown-menu text-right ">
                              <li class="nav-item"><a class="nav-link" href="exchange-one.html">بازار پیشفرض</a></li>
                              <li class="nav-item"><a class="nav-link" href="exchange-two.html">بازار حرفه ای</a></li>
                              <li class="nav-item"><a class="nav-link" href="exchange-three.html">بازار  تاریک</a></li>
                          </ul>
                      </li>
                      <li class="nav-item"><a class="nav-link" href="chart.html">چارت ها</a></li>
                      <li class="nav-item"><a class="nav-link" href="features.html">ویژگی ها</a></li>
                      <li class="nav-item dropdown">
                          <a class="nav-link" href="#">پشتیبانی</a>
                          <ul class="dropdown-menu">
                              <li class="nav-item"><a class="nav-link" href="support.html">Support Default</a></li>
                              <li class="nav-item"><a class="nav-link" href="support-details.html">Support Details</a></li>
                          </ul>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link" href="#">اخبار</a>
                          <ul class="dropdown-menu">
                              <li class="nav-item"><a class="nav-link" href="latest-news.html">Latest News</a></li>
                              <li class="nav-item"><a class="nav-link" href="news-details.html">News Details</a></li>
                          </ul>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link" href="#">بیشتر</a>
                          <ul class="dropdown-menu text-right">
                              <li class="nav-item"><a class="nav-link" href="faq.html">سوالات متداول</a></li>
                              <li class="nav-item"><a class="nav-link" href="how-work.html"> نحوه عملکرد</a></li>
                              <li class="nav-item"><a class="nav-link" href="contact.html">ارتباط با ما</a></li>
                          </ul>
                      </li>
                      <li class="nav-item dropdown ">
                          <a class="nav-link" href="exchange-one.html">تاریخچه </a>
                          <ul class="dropdown-menu text-right ">
                              <li class="nav-item"><a class="nav-link" href="exchange-one.html">واریز ها</a></li>
                              <li class="nav-item"><a class="nav-link" href="exchange-two.html">سفارشات</a></li>
                          </ul>
                      </li>
                      <li class="nav-item button">
                          <a class="btn nav-link" href="login.html">ورود</a>
                      </li>
                      <li class="nav-item button active">
                          <a class="btn nav-link" href="signup.html">ثبت نام</a>
                      </li>
                  </ul>
              </div>
          </div>
          <!-- Modal -->
      </nav><!-- main-nav-block -->
        <div class="container">
            <div class="user-login-signup-form-wrap">
                <div class="modal-content">
                    <h3>ورود کاربر</h3>
                    <div class="modal-body">
                        <div class="modal-info-block">
                            <p>Always ensure you're on the correct website</p>
                            <div class="block-inner">
                                <p>
                                    <span>
                                        <i class="fas fa-lock"></i>
                                        https://
                                    </span>
                                    www.bitpod.live
                                </p>
                            </div>
                        </div>
                        <div class="user-connected-form-block">
                            <form class="user-connected-from user-login-form">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="tel" id="exampleInputEmail1" placeholder="شماره تلفن">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="رمز عبور">
                                </div>
                                <div class="form-group pass-remember-block">
                                    <!-- <div class="custom-control custom-checkbox">
                                        <div class="custom-checkbox-wrap">
                                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                            <label class="custom-control-label" for="customCheck">Remember me</label>
                                        </div>
                                    </div> -->
                                    <div>
                                        <a href="#">فراموشی  رمز عبور؟</a>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-default">ورود</button>
                            </form>
                            <p>دارای حساب کاربری نیستید؟  <a href="#"> ثبت نام</a></p>
                        </div><!-- create-account-block -->
                    </div>
                </div>
            </div><!-- user-login-signup-form-wrap -->
        </div>
    </div><!-- user-login-signup-section -->
    <script src="./assets/js/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <script src="./assets/js/jquery.peity.min.js"></script>
    <script src="./assets/js/jquery.slimscroll.min.js"></script>
    <script src="./js/custom.js"></script>
</body>
</html>
