<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="./assets/css/themify-icons.css">
  <link rel="stylesheet" href="./assets/css/slick.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/responsive.css">
  <title>Excoin cryptowatch</title>
</head>
<body>
    <div class="subheader">
        
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="subheader-wrapper">
                        <h3>News Details</h3>
                        <p>
                            Many desktop publishing packages and web page editors now use <br>
                            Lorem Ipsum as their default model text
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- sub-header -->
    <div class="section-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                        <div class="blog-details-wrapper">
                            <div class="info">
                                <div class="post-author-block">
                                    <!-- <div class="author-thumb">
                                        <a href="#">
                                            <img src="./images/post/authors/8.png" alt="img" class="img-responsive">
                                        </a>
                                    </div> -->
                                    <div class="author-info text-center">
                                        <h5>
                                            <a href="#">
                                                Nayn e Castro
                                            </a>
                                        </h5>
                                        <a href="#">@excoin</a>
                                    </div>
                                </div>
                                <div class="post-meta-block">
                                    <span class="post-meta">30 NOV, 2019</span>
                                    <!-- <div class="post-comments">
                                        <img src="./images/post/cmnt-icon.png" alt="img" class="img-responsive">
                                        <a href="#">03 Comments</a>
                                    </div> -->
                                </div>
                            </div>
                            <div class="single-post-block">
                                <div class="post-thumb-block">
                                    <img src="./images/post/8.png" alt="img" class="img-responsive">
                                </div>
                                <h3 class="post-title">Expound the actual teachings</h3>
                                <p class="post-entry entry-one">
                                    It is a long established fact that a reader will be distracted by the readable content
                                    of a page when looking at its layout.  but also the leap into electronic typesetting,
                                    remaining essentially unchanged. It was popularised in the 1960s with the release
                                    circumstances occur in which toil and pain can procure him some great pleasure.
                                    To take a trivial example, which of us.
                                </p>
                                <p class="post-entry entry-two">
                                    Ever undertakes laborious physical exercise, except to obtain some advantage from it?
                                    But who has any right to find fault with a man who chooses to enjoy a pleasure that
                                    has no annoying consequences.
                                </p>
                                <p class="post-entry entry-three">
                                    Expound the actual teachings of the great explorer of the truth, the master-builder of
                                    human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is
                                    pleasure, but because those who do not know how to pursue pleasure rationally encounter
                                    consequences that are extremely painful. Nor again is there anyone who loves or pursues
                                    or desires to obtain pain of itself, because it is pain, but because occasionally
                                    circumstances occur in which toil and pain can procure him some great pleasure.
                                    To take a trivial example, which of us ever undertakes laborious  physical exercise.
                                </p>
                                <blockquote>
                                    “It was popularised in the 1960s with the release  circumstances occur in which toil <br>
                                    and pain can procure him some great pleasure.”
                                </blockquote>
                                <p class="post-entry entry-four">
                                    Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but
                                    because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
                                    To take a trivial example, which of us ever undertakes laborious  some great physical exercise, except to.
                                </p>
                                <ul class="list-post-entry">
                                    <li><i class="fas fa-check-circle"></i> But because those who do not know how to pursue pleasure</li>
                                    <li><i class="fas fa-check-circle"></i> Nor again is there anyone who loves or pursues</li>
                                    <li><i class="fas fa-check-circle"></i> Except to obtain some advantage from it?</li>
                                    <li><i class="fas fa-check-circle"></i> who avoids a pain that produces no resultant pleasure.</li>
                                    <li><i class="fas fa-check-circle"></i> I will give you a complete account of the system.</li>
                                </ul>
                                <p class="post-entry entry-five">
                                        Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain,
                                        but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="details-post-meta-block">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="details-post-meta-block-wrap">
                                <div class="post-author-block text-center">
                                    <div class="author-thumb">
                                        <a href="#">
                                            <img src="./images/post/authors/8.png" alt="img" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="author-info">
                                        <span>Post By: </span>
                                        <h5>
                                            <a href="#">
                                                Nayn e Castro
                                            </a>
                                        </h5>
                                    </div>
                                </div>
                                <div class="post-tag-block text-right">
                                    <h5>Post Tag</h5>
                                    <div class="tags">
                                        <a href="#">Design</a>
                                        <a href="#">Career</a>
                                        <a href="#">Guideline</a>
                                        <a href="#">Tech</a>
                                    </div>
                                </div><!-- post-tag-block -->
                                <div class="post-share-block text-right">
                                    <h5>Share this</h5>
                                    <ul class="social-share-list">
                                        <li>
                                            <a href="#" class="faceboox">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="twitter">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="google-plus">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="linkdin">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="pinterest">
                                                <i class="fab fa-pinterest"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="instagram">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div><!-- post-share-block -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="post-comment-block">
                            <div class="comment-respond">
                                <h4>Leave A Comment</h4>
                                <form action="#" class="comment-form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" placeholder="Name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                            <input type="email" placeholder="Email address" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea placeholder="Comment" class="form-control"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <div class="custom-checkbox-wrap">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck3" name="example1">
                                                        <label class="custom-control-label" for="customCheck3">Notify me of follow-up comments by email</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-default">Submit</button>
                                </form>
                            </div>
                            <div class="comment-area">
                                <h4>03 Comments</h4>
                                <ul class="comments">
                                    <li class="comment">
                                    <div class="comment-wrap">
                                        <div class="comment-info">
                                        <div class="commenter-thumb">
                                            <img src="./images/post/authors/9.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="commenter-info">
                                            <span class="commenter-name">Lisa Parsons</span>
                                            <span class="date">28 Dec 2019</span>
                                        </div>
                                        <div class="reply">
                                            <button type="button" class="reply-button" data-toggle="modal" data-target="#modal-skill25">Reply</button>
                                            <div class="modal fade" id="modal-skill25" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                    <div class="modal-body">
                                                        <div class="comment-respond">
                                                            <h4>Write A Comment</h4>
                                                            <form action="#">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                        <input type="text" placeholder="Name" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                        <input type="email" placeholder="Email address" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <textarea placeholder="Comment" class="form-control"></textarea>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="custom-control custom-checkbox">
                                                                                <div class="custom-checkbox-wrap">
                                                                                    <input type="checkbox" class="custom-control-input" id="customCheck4" name="example1">
                                                                                    <label class="custom-control-label" for="customCheck4">Notify me of follow-up comments by email</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button class="btn btn-default">Submit</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="comment-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <ul class="comments child-comment">
                                    <li class="comment">
                                    <div class="comment-wrap">
                                        <div class="comment-info">
                                        <div class="commenter-thumb">
                                            <img src="./images/post/authors/10.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="commenter-info">
                                            <span class="commenter-name">Ethel N. Myers</span>
                                            <span class="date">28 Dec 2019</span>
                                        </div>
                                        <div class="reply">
                                            <button type="button" class="reply-button" data-toggle="modal" data-target="#modal-skill26">Reply</button>
                                            <div class="modal fade" id="modal-skill26" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="comment-respond">
                                                    <h4>Write A Comment</h4>
                                                    <form action="#">
                                                        <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                            <input type="text" placeholder="Name" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                            <input type="email" placeholder="Email address" class="form-control">
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <textarea placeholder="Comment" class="form-control"></textarea>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <div class="custom-checkbox-wrap">
                                                                            <input type="checkbox" class="custom-control-input" id="customCheck5" name="example1">
                                                                            <label class="custom-control-label" for="customCheck5">Notify me of follow-up comments by email</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button class="btn btn-default">Submit</button>
                                                    </form>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="comment-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                    </li>
                                </ul>
                                </li>
                                <li class="comment">
                                <div class="comment-wrap">
                                    <div class="comment-info">
                                    <div class="commenter-thumb">
                                        <img src="./images/post/authors/11.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="commenter-info">
                                        <span class="commenter-name">Rovert Carlos</span>
                                        <span class="date">28 Dec 2019</span>
                                    </div>
                                    <div class="reply">
                                        <button type="button" class="reply-button" data-toggle="modal" data-target="#modal-skill27">Reply</button>
                                        <div class="modal fade" id="modal-skill27" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="comment-respond">
                                                <h4>Write A Comment</h4>
                                                <form action="#">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                            <input type="text" placeholder="Name" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                            <input type="email" placeholder="Email address" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <textarea placeholder="Comment" class="form-control"></textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="custom-control custom-checkbox">
                                                                    <div class="custom-checkbox-wrap">
                                                                        <input type="checkbox" class="custom-control-input" id="customCheck6" name="example1">
                                                                        <label class="custom-control-label" for="customCheck6">Notify me of follow-up comments by email</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-default">Submit</button>
                                                </form>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="comment-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                </li>
                            </ul>
                        </div>
                        </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="colto-section">
        <div class="container">
            <div class="colto-content-wrap">
                <div class="colto-content">
                    <h3>Getting started</h3>
                    <p>We provide professional and secure trading services for investors</p>
                </div>
                <div class="colto-btn-group">
                    <button class="btn callto-btn">Log In</button>
                    <span>or</span>
                    <button class="btn callto-btn">Create Account</button>
                </div>
            </div>
        </div>
    </div><!-- colto-section -->
    <!-- Call to Action End -->
