<!DOCTYPE html>
{% extends 'UserPanel/master.html' %}
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="./assets/css/themify-icons.css">
  <link rel="stylesheet" href="./assets/css/slick.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/responsive.css">
  <title> تاریخچه سفارشات </title>
</head>
<body>
    <div class="subheader">
        
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="subheader-wrapper">
                        <h3> تاریخچه سفارشات شما </h3>
                        <p>
                            Many desktop publishing packages and web page editors now use <br>
                            Lorem Ipsum as their default model text
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- sub-header -->
    <div class="container">
        <!-- Tab panes -->
        <div class="teanding-info-block">
            <!-- <ul class="nav trending-info-tab">
                <li class="nav-item">
                    <div class="dropdown trending-info-currency-option">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-dollar-sign"></i>
                            <span>USD</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownmenu">
                            <a class="dropdown-item" href="#">EUR</a>
                            <a class="dropdown-item" href="#">AUD</a>
                            <a class="dropdown-item" href="#">BND</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <form action="#" method="get" class="search-form">
                        <div class="input-box">
                            <input type="text" value="" required="" name="s" class="form-control" placeholder="Search...">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </li>
            </ul><!-- das-oreder-nav -->
            <div class="trandinginfo-table-block justify-content-center d-flex">
                <table class="table coin-list  table-hover">
                    <thead>
                      <tr>
                         <th>زمان</th>
                         <th>بازار</th>
                         <th>نوع</th>
                         <th>سمت</th>
                         <th>مقدار</th>
                         <th>قیمت</th>
                         <th>قیمت تمام شده</th>
                         <th>پر شده</th>
                         <th>کارمزد فعلی</th>
                         <th>وضعیت</th>
                         <th>درصد انجام</th>

                     </tr>
                    </thead>
                    <tbody>

                           <tr>
                               <td>{{ order.date }}</td>
                               <td>{{ order.pair }}</td>
                               <td>{{ order.order_type }}</td>
                               <td>{{ order.side }}</td>
                               <td>{{ order.size }}</td>
                               <td>{{ order.price }}</td>
                               <td>{{ order.executed_price }}</td>
                               <td>{{ order.filled }}</td>
                               <td>{{ order.fee }}</td>
                               <td>{{ order.state }}</td>
                               <td>{{ order.percent }}</td>
                           </tr>

                 </tbody>
                </table>
            </div>
        </div><!-- teanding-info-block -->
    </div>
    <div class="colto-section">
        <div class="container">
            <div class="colto-content-wrap">
                <div class="colto-content">
                    <h3>Getting started</h3>
                    <p>We provide professional and secure trading services for investors</p>
                </div>
                <div class="colto-btn-group">
                    <button class="btn callto-btn">Log In</button>
                    <span>or</span>
                    <button class="btn callto-btn">Create Account</button>
                </div>
            </div>
        </div>
    </div><!-- colto-section -->
    <!-- Call to Action End -->
{% endblock %}
