<!DOCTYPE html>
{% extends 'master.html' %}
{% block styles %}
    <style type="text/css">
        #error_area {
            margin: 10px 20px 0 20px;
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="./assets/css/themify-icons.css">
  <link rel="stylesheet" href="./assets/css/slick.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/responsive.css">
  <title>Excoin cryptowatch</title>
</head>
<body>
    <div class="user-login-signup-section modal-container">
      
        <div class="container">
            <div class="user-login-signup-form-wrap">
                <div class="modal-content">
					<h3>ثبت نام کاربر</h3>
                    <div class="modal-body">
                        <div class="user-connected-form-block">
                            <form class="user-connected-from user-signup-form" method="POST">
                                <div class="row form-group">
                                    <div class="col">
                                        <input type="text" class="form-control" name="name" placeholder="نام کامل">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control"  name="email" id="exampleInputEmail2" placeholder="ایمیل آدرس">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control"  name="tel" id="exampleInputEmail2" placeholder="شماره همراه">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" id="exampleInputPassword2" placeholder="رمز عبور دلخواه">
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <div class="custom-checkbox-wrap">
                                            <input type="checkbox" class="custom-control-input" id="customCheck2" name="example1">
                                            <label class="custom-control-label" for="customCheck2">من مطالعه کردم و موافقم   <a href="#">با شرایط استفاده  </a></label>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <select class="form-control form-control-lg">
                                        <option>Select Counrty</option>
                                        <option>USA</option>
                                        <option>UK</option>
                                        <option>UAE</option>
                                    </select>
                                </div> -->
                                <button type="submit" class="btn btn-default">ثبت نام</button>
                            </form>
                            <p>دارای حساب کاربری هستید   ?   <a href="#"> ورود </a></p>
                        </div><!-- create-account-block -->
                    </div>
                </div>
            </div><!-- user-login-signup-form-wrap -->
        </div>
    </div><!-- user-login-signup-section -->
    <script src="./assets/js/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <script src="./assets/js/jquery.peity.min.js"></script>
    <script src="./assets/js/jquery.slimscroll.min.js"></script>
    <script src="./js/custom.js"></script>
</body>
</html>
{% endblock %}
