<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="./assets/css/themify-icons.css">
  <link rel="stylesheet" href="./assets/css/slick.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/responsive.css">
  <title>Excoin cryptowatch</title>
</head>
<body>
    <div class="subheader">
        
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="subheader-wrapper">
                        <h3>Help Center</h3>
                        <p>
                            Many desktop publishing packages and web page editors now use <br>
                            Lorem Ipsum as their default model text
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <form action="#" method="get" class="subheader-search search-form">
            <div class="input-box">
                <input type="text" value="" required="" name="s" class="form-control text-center" placeholder="Search here that you want !">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div><!-- sub-header -->
    <div class="support-details-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 ">
                    <div class="support-details-tab-nav ">
                        <h4>ACCOUNT</h4>
                        <nav class="support-list ">
                            <ul class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#nav_signUp" role="tab" data-toggle="tab">
                                        How to Sign Up
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#nav_confimationEmail" role="tab" data-toggle="tab">
                                        Have Not Received Confirmation
                                        Email
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#nav_invalidLink" role="tab" data-toggle="tab">
                                        Activation Link Invalid or Expired
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#nav_changeEmail" role="tab" data-toggle="tab">
                                        How to Change  Email Address
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#nav_deleteAccount" role="tab" data-toggle="tab">
                                        How to Delete your Account?
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-8 col-md-8">
                    <div class="tab-content support-details-tab-content-wrap">
                        <div role="tabpanel" class="tab-pane fade show active" id="nav_signUp">
                            <div class="support-details-content">
                                <h4 class="sp-title text-center">How to Sign Up</h4>
                                <div class="supporter-details">
                                    <div>
                                        <img src="./images/support-details/1.png" alt="img" class="img-responsive">
                                    </div>
                                    <div class="sp-info">
                                        <h5>Nayne Castro</h5>
                                        <span>
                                            12 Nov, 2019
                                        </span>
                                    </div>
                                </div>
                                <div class="support-entry-block">
                                    <p>
                                        It is a long established fact that a reader will be distracted by the readable content
                                        of a page when looking at its layout.  but also the leap into electronic typesetting,
                                        remaining essentially unchanged. It was popularised in the 1960s with the release
                                        circumstances occur in which toil and pain can procure him some great pleasure.
                                        To take a trivial example, which of us.
                                    </p>
                                    <p>
                                        Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
                                        No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because.
                                    </p>
                                </div>
                                <div class="details-support-steps account-support-block">
                                    <h5>Step 01:</h5>
                                    <p>
                                        But also the leap into electronic typesetting, remaining essentially unchanged.
                                        It was popularised in the 1960s with the release  circumstances occur in which
                                        toil and pain can procure him some great pleasure.
                                        To take a trivial example, which of us.
                                    </p>
                                    <div class="account-support-img-block double-img">
                                        <div>
                                            <img src="./images/support-details/6.jpg" alt="img" class="img-responsive">
                                        </div>
                                        <div>
                                            <img src="./images/support-details/7.jpg" alt="img" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                                <div class="details-support-steps chart-support-block">
                                    <h5>Step 02:</h5>
                                    <p>
                                        To take a trivial example, which of us ever undertakes laborious physical exercise,
                                        except to obtain some advantage from it? But who has any right to find fault with a
                                        man who chooses to enjoy a pleasure that has no annoying consequences, or one who
                                        avoids a pain that produces no
                                    </p>
                                    <div class="account-support-img-block">
                                        <img src="./images/support-details/16.png" alt="img" class="img-responsive">
                                    </div>
                                </div>
                                <div class="details-support-steps last-support-block">
                                    <h5>Step 03:</h5>
                                    <p>
                                        Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta
                                        nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere
                                        possimus, omnis voluptas assumenda est, omnis dolor repellendus. <br>
                                        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
                                        repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus
                                    </p>
                                </div>
                            </div><!-- support-details-content -->
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="nav_confimationEmail">
                            <div class="support-details-content">
                                <h4 class="sp-title">Have Not Received Confirmation Email</h4>
                                <div class="supporter-details">
                                    <div>
                                        <img src="./images/support-details/2.png" alt="img" class="img-responsive">
                                    </div>
                                    <div class="sp-info">
                                        <h5>Nayne Castro</h5>
                                        <span>
                                            12 Nov, 2019
                                        </span>
                                    </div>
                                </div>
                                <div class="support-entry-block">
                                    <p>
                                        It is a long established fact that a reader will be distracted by the readable content
                                        of a page when looking at its layout.  but also the leap into electronic typesetting,
                                        remaining essentially unchanged. It was popularised in the 1960s with the release
                                        circumstances occur in which toil and pain can procure him some great pleasure.
                                        To take a trivial example, which of us.
                                    </p>
                                    <p>
                                        Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
                                        No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because.
                                    </p>
                                </div>
                                <div class="details-support-steps account-support-block">
                                    <h5>Step 01:</h5>
                                    <p>
                                        But also the leap into electronic typesetting, remaining essentially unchanged.
                                        It was popularised in the 1960s with the release  circumstances occur in which
                                        toil and pain can procure him some great pleasure.
                                        To take a trivial example, which of us.
                                    </p>
                                    <div class="account-support-img-block double-img">
                                        <div>
                                            <img src="./images/support-details/8.jpg" alt="img" class="img-responsive">
                                        </div>
                                        <div>
                                            <img src="./images/support-details/9.jpg" alt="img" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                                <div class="details-support-steps">
                                    <h5>Step 02:</h5>
                                    <p>
                                        To take a trivial example, which of us ever undertakes laborious physical exercise,
                                        except to obtain some advantage from it? But who has any right to find fault with a
                                        man who chooses to enjoy a pleasure that has no annoying consequences, or one who
                                        avoids a pain that produces no
                                    </p>
                                    <div class="account-support-img-block">
                                        <img src="./images/support-details/17.png" alt="img" class="img-responsive">
                                    </div>
                                </div>
                                <div class="details-support-steps">
                                    <h5>Step 03:</h5>
                                    <p>
                                        Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta
                                        nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere
                                        possimus, omnis voluptas assumenda est, omnis dolor repellendus. <br>
                                        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
                                        repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus
                                    </p>
                                </div>
                            </div><!-- support-details-content -->
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="nav_invalidLink">
                            <div class="support-details-content">
                                <h4 class="sp-title">Activation Link Invalid or Expired</h4>
                                <div class="supporter-details">
                                    <div>
                                        <img src="./images/support-details/3.png" alt="img" class="img-responsive">
                                    </div>
                                    <div class="sp-info">
                                        <h5>Nayne Castro</h5>
                                        <span>
                                            12 Nov, 2019
                                        </span>
                                    </div>
                                </div>
                                <div class="support-entry-block">
                                    <p>
                                        It is a long established fact that a reader will be distracted by the readable content
                                        of a page when looking at its layout.  but also the leap into electronic typesetting,
                                        remaining essentially unchanged. It was popularised in the 1960s with the release
                                        circumstances occur in which toil and pain can procure him some great pleasure.
                                        To take a trivial example, which of us.
                                    </p>
                                    <p>
                                        Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
                                        No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because.
                                    </p>
                                </div>
                                <div class="details-support-steps account-support-block">
                                    <h5>Step 01:</h5>
                                    <p>
                                        But also the leap into electronic typesetting, remaining essentially unchanged.
                                        It was popularised in the 1960s with the release  circumstances occur in which
                                        toil and pain can procure him some great pleasure.
                                        To take a trivial example, which of us.
                                    </p>
                                    <div class="account-support-img-block double-img">
                                        <div>
                                            <img src="./images/support-details/10.jpg" alt="img" class="img-responsive">
                                        </div>
                                        <div>
                                            <img src="./images/support-details/11.jpg" alt="img" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                                <div class="details-support-steps">
                                    <h5>Step 02:</h5>
                                    <p>
                                        To take a trivial example, which of us ever undertakes laborious physical exercise,
                                        except to obtain some advantage from it? But who has any right to find fault with a
                                        man who chooses to enjoy a pleasure that has no annoying consequences, or one who
                                        avoids a pain that produces no
                                    </p>
                                    <div class="account-support-img-block">
                                        <img src="./images/support-details/18.png" alt="img" class="img-responsive">
                                    </div>
                                </div>
                                <div class="details-support-steps">
                                    <h5>Step 03:</h5>
                                    <p>
                                        Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta
                                        nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere
                                        possimus, omnis voluptas assumenda est, omnis dolor repellendus. <br>
                                        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
                                        repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus
                                    </p>
                                </div>
                            </div><!-- support-details-content -->
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="nav_changeEmail">
                            <div class="support-details-content">
                                <h4 class="sp-title">How to Change  Email Address</h4>
                                <div class="supporter-details">
                                    <div>
                                        <img src="./images/support-details/4.png" alt="img" class="img-responsive">
                                    </div>
                                    <div class="sp-info">
                                        <h5>Nayne Castro</h5>
                                        <span>
                                            12 Nov, 2019
                                        </span>
                                    </div>
                                </div>
                                <div class="support-entry-block">
                                    <p>
                                        It is a long established fact that a reader will be distracted by the readable content
                                        of a page when looking at its layout.  but also the leap into electronic typesetting,
                                        remaining essentially unchanged. It was popularised in the 1960s with the release
                                        circumstances occur in which toil and pain can procure him some great pleasure.
                                        To take a trivial example, which of us.
                                    </p>
                                    <p>
                                        Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
                                        No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because.
                                    </p>
                                </div>
                                <div class="details-support-steps account-support-block">
                                    <h5>Step 01:</h5>
                                    <p>
                                        But also the leap into electronic typesetting, remaining essentially unchanged.
                                        It was popularised in the 1960s with the release  circumstances occur in which
                                        toil and pain can procure him some great pleasure.
                                        To take a trivial example, which of us.
                                    </p>
                                    <div class="account-support-img-block double-img">
                                        <div>
                                            <img src="./images/support-details/12.jpg" alt="img" class="img-responsive">
                                        </div>
                                        <div>
                                            <img src="./images/support-details/13.jpg" alt="img" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                                <div class="details-support-steps">
                                    <h5>Step 02:</h5>
                                    <p>
                                        To take a trivial example, which of us ever undertakes laborious physical exercise,
                                        except to obtain some advantage from it? But who has any right to find fault with a
                                        man who chooses to enjoy a pleasure that has no annoying consequences, or one who
                                        avoids a pain that produces no
                                    </p>
                                    <div class="account-support-img-block">
                                        <img src="./images/support-details/19.png" alt="img" class="img-responsive">
                                    </div>
                                </div>
                                <div class="details-support-steps">
                                    <h5>Step 03:</h5>
                                    <p>
                                        Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta
                                        nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere
                                        possimus, omnis voluptas assumenda est, omnis dolor repellendus. <br>
                                        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
                                        repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus
                                    </p>
                                </div>
                            </div><!-- support-details-content -->
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="nav_deleteAccount">
                            <div class="support-details-content">
                                <h4 class="sp-title">How to Delete your Account?</h4>
                                <div class="supporter-details">
                                    <div>
                                        <img src="./images/support-details/5.png" alt="img" class="img-responsive">
                                    </div>
                                    <div class="sp-info">
                                        <h5>Nayne Castro</h5>
                                        <span>
                                            12 Nov, 2019
                                        </span>
                                    </div>
                                </div>
                                <div class="support-entry-block">
                                    <p>
                                        It is a long established fact that a reader will be distracted by the readable content
                                        of a page when looking at its layout.  but also the leap into electronic typesetting,
                                        remaining essentially unchanged. It was popularised in the 1960s with the release
                                        circumstances occur in which toil and pain can procure him some great pleasure.
                                        To take a trivial example, which of us.
                                    </p>
                                    <p>
                                        Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
                                        No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because.
                                    </p>
                                </div>
                                <div class="details-support-steps account-support-block">
                                    <h5>Step 01:</h5>
                                    <p>
                                        But also the leap into electronic typesetting, remaining essentially unchanged.
                                        It was popularised in the 1960s with the release  circumstances occur in which
                                        toil and pain can procure him some great pleasure.
                                        To take a trivial example, which of us.
                                    </p>
                                    <div class="account-support-img-block double-img">
                                        <div>
                                            <img src="./images/support-details/14.jpg" alt="img" class="img-responsive">
                                        </div>
                                        <div>
                                            <img src="./images/support-details/15.jpg" alt="img" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                                <div class="details-support-steps">
                                    <h5>Step 02:</h5>
                                    <p>
                                        To take a trivial example, which of us ever undertakes laborious physical exercise,
                                        except to obtain some advantage from it? But who has any right to find fault with a
                                        man who chooses to enjoy a pleasure that has no annoying consequences, or one who
                                        avoids a pain that produces no
                                    </p>
                                    <div class="account-support-img-block">
                                        <img src="./images/support-details/20.png" alt="img" class="img-responsive">
                                    </div>
                                </div>
                                <div class="details-support-steps">
                                    <h5>Step 03:</h5>
                                    <p>
                                        Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta
                                        nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere
                                        possimus, omnis voluptas assumenda est, omnis dolor repellendus. <br>
                                        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
                                        repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus
                                    </p>
                                </div>
                            </div><!-- support-details-content -->
                        </div>
                    </div><!-- support-details-tab-content-wrap -->
                    <div class="support-details-footer">
                        <div class="ishelpful-block">
                            <h5>
                                Is this helpful ?
                            </h5>
                            <ul class="ishelpful-list">
                                <li>
                                    <a href="#">
                                        <i class="far fa-thumbs-up"></i>
                                        Yes
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="far fa-thumbs-down"></i>
                                       no
                                    </a>
                                </li>
                            </ul>
                        </div><!-- ishelpful-block -->
                        <div class="post-share-block">
                            <h5>Share this</h5>
                            <ul class="social-share-list">
                                <li>
                                    <a href="#" class="faceboox">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="google-plus">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="linkdin">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="pinterest">
                                        <i class="fab fa-pinterest"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- post-share-block -->
                    </div>
                </div>
                <div class="offset-lg-4 col-lg-5 offset-md-2 col-md-8">
                    <div class="qs-answer-section">
                        <img src="./images/others/30.png" alt="img" class="img-responsive">
                        <h4>Don’t get Answer?</h4>
                        <span>We have a record of answering everything in 3 hours of less.</span>
                        <div class="btn-group">
                            <button class="btn btn-default active">E-mail Us</button>
                            <button class="btn btn-default">Let’s Chat</button>
                        </div>
                        <p>Or maybe you’d like to call us:  <span>(+7 (966) 552-88-46)</span></p>
                    </div><!-- qs-answer-section -->
                </div>
            </div>
        </div>
    </div><!-- support-details-section -->
    <div class="colto-section">
        <div class="container">
            <div class="colto-content-wrap">
                <div class="colto-content">
                    <h3>Getting started</h3>
                    <p>We provide professional and secure trading services for investors</p>
                </div>
                <div class="colto-btn-group">
                    <button class="btn callto-btn">Log In</button>
                    <span>or</span>
                    <button class="btn callto-btn">Create Account</button>
                </div>
            </div>
        </div>
    </div><!-- colto-section -->
    <!-- Call to Action End -->
