<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="./assets/css/themify-icons.css">
  <link rel="stylesheet" href="./assets/css/slick.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/responsive.css">
  <title>Excoin cryptowatch</title>
</head>
<body>
    <div class="subheader">
        
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="subheader-wrapper">
                        <h3>واریز کریپتو  </h3>
                        <p>
                            Many desktop publishing packages and web page editors now use <br>
                            Lorem Ipsum as their default model text
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- sub-header -->
    <div class="contact-form-section">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-6 offset-md-1 col-md-9">
                    <div class="contact-form-wrap">
                      <div class=" text-center">
                          <p class="h5 ">
                              آدرس این کیف پول شما در کادر زیر قابل مشاهده است. برای واریز ارزهای دیجیتال به این کیف، می‌توانید از همین آدرس استفاده کنید.
                          </p>
                          <h5 class="dark-blue-bg p-3 text-secondary my-5 h5">LRoHLoKJw7mB8zfTCSS8utzNukf42QKtyG</h5>
                          <img class="" src="https://store-images.s-microsoft.com/image/apps.33967.13510798887182917.246b0a3d-c3cc-46fc-9cea-021069d15c09.392bf5f5-ade4-4b36-aa63-bb15d5c3817a?mode=scale&q=90&h=270&w=270&background=%230078D7" style="width: 100px" alt="">
                          <br>
                               <a href="#" class="btn btn-dark mt-5">ورود به تاریخچه واریزها</a>
                      </div>
                    <!-- contact-form -->
                    </div>
                </div>
            </div>

        </div>
    </div><!-- contact-section -->

    <footer class="footer">
        <div class="footer-upper-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="footer-logo">
                            <a href="#">
                                <img src="./images/logo.png" alt="img" class="img-responsive"/>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="footer-info-list">
                            <h4>About Us</h4>
                            <ul>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">Our Company</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Token Listing</a></li>
                                <li><a href="#">Join Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="footer-info-list">
                            <h4>Learn</h4>
                            <ul>
                                <li><a href="#">Legal</a></li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">AML&CFT</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="footer-info-list">
                            <h4>Help</h4>
                            <ul>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">API Support</a></li>
                                <li><a href="#">Coin/Token Listing</a></li>
                                <li><a href="#">Partnership</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="footer-info-list">
                            <h4>Contact Us</h4>
                            <ul class="contact-info">
                                <li>Email:  <span>info.excoin@gmail.com</span></li>
                                <li>Phone:   <span>+99 5589 54789</span></li>
                            </ul>
                            <ul class="social-style-two">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-icon-wrap">
                <a href="#">
                    <img src="./images/others/31.png" alt="img" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-wrap">
                    <div class="trade-volume-block">
                        <ul>
                            <li>
                                <span>39151</span> Active Traders
                            </li>
                            <li>
                                <span>4191 BTC</span> 24h Volume
                            </li>
                        </ul>
                    </div>
                    <div class="copyright-text">
                        © 2019 <a href="#">Excoin</a>. All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="./assets/js/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <script src="./assets/js/jquery.peity.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC87gjXWLqrHuLKR0CTV5jNLdP4pEHMhmg"></script>
    <script src="./assets/js/gmap3.js"></script>
    <script src="./assets/js/jquery.slimscroll.min.js"></script>
    <script src="./js/custom.js"></script>
    <script>
            $('#map_block')
                .gmap3({
                center:[48.8620722, 2.352047],
                zoom:4,
                    styles: [
                        {elementType: 'geometry', stylers: [{color: '#eeeeee'}]},
                        {
                        featureType: 'road',
                        elementType: 'geometry',
                        stylers: [{color: '#eeeeee'}]
                        },
                        {
                        featureType: 'road',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#eeeeee'}]
                        },
                        {
                        featureType: 'road',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#eeeeee'}]
                        },
                        {
                        featureType: 'road.highway',
                        elementType: 'geometry',
                        stylers: [{color: '#eeeeee'}]
                        },
                        {
                        featureType: 'road.highway',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#eeeeee'}]
                        },
                        {
                        featureType: 'road.highway',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#eeeeee'}]
                        },
                        {
                        featureType: 'transit',
                        elementType: 'geometry',
                        stylers: [{color: '#eeeeee'}]
                        },
                        {
                        featureType: 'transit.station',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#eeeeee'}]
                        },
                        {
                        featureType: 'water',
                        elementType: 'geometry',
                        stylers: [{color: '#e2e2e2'}]
                        }
                    ]
                })
                .marker([
                {address:"66000 France", icon: "./images/others/29.png"}
                ])
                .on('click', function (marker) {
                marker.setIcon("./images/others/29.png")
            });
    </script>
</body>
</html>
