<!DOCTYPE html>
{% extends 'UserPanel/master.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="./assets/css/themify-icons.css">
  <link rel="stylesheet" href="./assets/css/slick.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/responsive.css">
  <title>بازار معاملاتی| بیت پاد</title>
</head>
<body>
    <div class="user-login-signup-section modal-container">
        
        <div class="container">
            <div class="user-login-signup-form-wrap">
                <div class="modal-content">

                                      <!-- Also consider that if a one time message send from a request the following code should be used  -->
                    <!-- {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message|safe }} </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <!-- Consider we need to show messages for each form when it git into error -->
                    <!-- {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %} -->
                    <h3>درخواست برداشت </h3>
                    <p class="text-center p-5 dark-blue-bg h5 ">در صورت تمایل به برداشت موجودی کیف پول‌های خود، درخواست خود را اینجا ثبت نمایید. درخواست ها به صورت 24 ساعته و خودکار پردازش خواهند شد. </h6>


                    <div class="modal-body">
                        <div class="modal-info-block">
                            <p>از صحیح بودن آدرس وبسایت اطمینان حاصل نمایید</p>
                            <div class="block-inner">
                                <p>
                                    <span>
                                        <i class="fas fa-lock"></i>
                                        https://
                                    </span>
                                    www.bitpod.live
                                </p>
                            </div>
                        </div>
                        <div class="user-connected-form-block">
                            <form class="user-connected-from user-login-form "
                                  action="{% url 'user-bank-account-save' %}"
                                  method="post" enctype="multipart/form-data">

                                <div class="form-group">
                                    <input type="text" class="form-control text-right" name="amount"  id="exampleInputEmail1" placeholder="مبلغ برداشت را وارد کنید">
                                </div>
                                <div class="form-group " >
                                                 <span class=" font-weight-normal p-1">...</span>
                                                 :
                                          <label for="profit" class="control-label font-weight-bold">موجودی قابل برداشت شما</label>


                                  </div>
                                <div class="form-group">
                                    <input type="email" class="form-control text-right"  name="walletAddress" id="exampleInputEmail1" placeholder="آدرس کیف پول مقصد  را وارد کنید">

                                </div>
                                <h5 class="alert-light alert dark-blue-bg p-3">توجه: وارد کردن آدرس نادرست ممکن است منجر به از دست رفتن منابع مالی شما شود.</h6>

                                <div class="form-group text-right" >
                                     <span class="dark-blue-bg font-weight-normal p-1">...</span>  :<label for="profit" class="control-label font-weight-bold">کارمزد انتقال</label>


                              </div>


                                <button type="submit" class="btn btn-default">ارسال</button>
                            </form>
                        </div><!-- confirm-account-block -->
                    </div>
                </div>
            </div><!-- user-confirm-signup-form-wrap -->
        </div>
    </div><!-- user-confirm-signup-section -->

    {% endblock %}
{% block extra_scripts %}
    <script type="text/javascript">
        function changeImage() {

            var file = document.getElementById('images').files[0];
            var reader = new FileReader();
            // it's onload event and you forgot (parameters)
            reader.onload = function (e) {
                var image = document.getElementById("profile-image");
                // the result image data
                image.src = e.target.result;
                {#document.body.appendChild(image);#}
            };
            // you have to declare the file loading
            reader.readAsDataURL(file);
        }
    </script>
{% endblock %}

    <script src="./assets/js/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <script src="./assets/js/jquery.peity.min.js"></script>
    <script src="./assets/js/jquery.slimscroll.min.js"></script>
    <script src="./js/custom.js"></script>
</body>
</html>
