<!DOCTYPE html>
{% extends 'UserPanel/master.html' %}
{% load static %}
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="./assets/css/themify-icons.css">
  <link rel="stylesheet" href="./assets/css/slick.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/responsive.css">
  <title>  حساب بانکی</title>
</head>
<body>
    <div class="subheader">
        <nav class="navbar main-nav navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img class="navbar-logo" src="images/logo.png" alt="..."/>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="exchange-one.html">Exchange </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="exchange-one.html">Exchange Default</a></li>
                                <li class="nav-item"><a class="nav-link" href="exchange-two.html">Exchange Full</a></li>
                                <li class="nav-item"><a class="nav-link" href="exchange-three.html">Exchange Dark</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="chart.html">Chart</a></li>
                        <li class="nav-item"><a class="nav-link" href="features.html">Features</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#">Support</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="support.html">Support Default</a></li>
                                <li class="nav-item"><a class="nav-link" href="support-details.html">Support Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#">News</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="latest-news.html">Latest News</a></li>
                                <li class="nav-item"><a class="nav-link" href="news-details.html">News Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#">More</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="faq.html">Faq</a></li>
                                <li class="nav-item"><a class="nav-link" href="how-work.html">How Work</a></li>
                                <li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown language-option">
                            <a class="nav-link" href="#">
                                <i class="fas fa-globe"></i> EN
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                            <i class="fab fa-buysellads"></i> US
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-lira-sign"></i> UK
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item button">
                            <a class="btn nav-link" href="login.html">Login</a>
                        </li>
                        <li class="nav-item button active">
                            <a class="btn nav-link" href="signup.html">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Modal -->
        </nav><!-- main-nav-block -->
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="subheader-wrapper">
                        <h3>مدیریت کیف پول شما </h3>
                        <p>

                          <br>
                            Lorem Ipsum as their default model text
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- sub-header -->
    <div class="container">
        <!-- Tab panes -->
        <div class="teanding-info-block">
            <!-- <ul class="nav trending-info-tab">
                <li class="nav-item">
                    <div class="dropdown trending-info-currency-option">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-dollar-sign"></i>
                            <span>USD</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownmenu">
                            <a class="dropdown-item" href="#">EUR</a>
                            <a class="dropdown-item" href="#">AUD</a>
                            <a class="dropdown-item" href="#">BND</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <form action="#" method="get" class="search-form">
                        <div class="input-box">
                            <input type="text" value="" required="" name="s" class="form-control" placeholder="Search...">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </li>
            </ul><!-- das-oreder-nav -->
            <div class="">
          {% if messages %}
              <ul class="messages row text-center">
                  {% for message in messages %}
                      <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message|safe }} </li>
                  {% endfor %}
              </ul>
          {% endif %}
      </div>


      <div class=" text-center my-5 bg-light shadow p-3 mx-5" >
         <div class="text-center">
          <p class="text-primary h4">موجودی  شما: <span id="toman-holder"></span> تومان </p>
      </div>
          <div class="m-3">
              <a href="/panel/withdraw" class="btn text-white  blue-bg">برداشت</a>
               <a href="{% url 'toman-deposit' %}" class="btn text-white  blue-bg ">واریز</a>
          </div>
          <div class="text-center borderr blue-bg  h5  py-3 mx-5"> برای انجام معاملات در سایت حتما ابتدا کیف پول خود را شارژ ریالی نمایید.
      </div>
      </div>


            <div class="trandinginfo-table-block">
                <table class="table coin-list table-hover">
                    <thead>
                      <tr>
                        <th>نوع</th>
                        <th>آدرس</th>
                        <th>موجودی</th>
                        <th>وضعیت</th>
                     </tr>
                    </thead>
                      <tbody id="coin-status-body">

                      </tbody>
                </table>
            </div>
        </div><!-- teanding-info-block -->
    </div>
    <div class="colto-section">
        <div class="container">
            <div class="colto-content-wrap">
                <div class="colto-content">
                    <h3>Getting started</h3>
                    <p>We provide professional and secure trading services for investors</p>
                </div>
                <div class="colto-btn-group">
                    <button class="btn callto-btn">Log In</button>
                    <span>or</span>
                    <button class="btn callto-btn">Create Account</button>
                </div>
            </div>
        </div>
        <span id="wallet-info" style="display: none;">{{ wallet }}</span>
    </div><!-- colto-section -->
    <!-- Call to Action End -->
    <footer class="footer">
        <div class="footer-upper-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="footer-logo">
                            <a href="#">
                                <img src="./images/logo.png" alt="img" class="img-responsive"/>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="footer-info-list">
                            <h4>About Us</h4>
                            <ul>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">Our Company</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Token Listing</a></li>
                                <li><a href="#">Join Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="footer-info-list">
                            <h4>Learn</h4>
                            <ul>
                                <li><a href="#">Legal</a></li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">AML&CFT</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="footer-info-list">
                            <h4>Help</h4>
                            <ul>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">API Support</a></li>
                                <li><a href="#">Coin/Token Listing</a></li>
                                <li><a href="#">Partnership</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="footer-info-list">
                            <h4>Contact Us</h4>
                            <ul class="contact-info">
                                <li>Email:  <span>info.excoin@gmail.com</span></li>
                                <li>Phone:   <span>+99 5589 54789</span></li>
                            </ul>
                            <ul class="social-style-two">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-icon-wrap">
                <a href="#">
                    <img src="./images/others/31.png" alt="img" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-wrap">
                    <div class="trade-volume-block">
                        <ul>
                            <li>
                                <span>39151</span> Active Traders
                            </li>
                            <li>
                                <span>4191 BTC</span> 24h Volume
                            </li>
                        </ul>
                    </div>
                    <div class="copyright-text">
                        © 2019 <a href="#">Excoin</a>. All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="./assets/js/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <script src="./assets/js/jquery.peity.min.js"></script>
    <script src="./assets/js/jquery.slimscroll.min.js"></script>
    <script src="./js/custom.js"></script>
</body>
</html>
{% endblock %}
{% block extra_scripts %}
    <script type="text/javascript">

        console.log('hello');
        var wallet_info = JSON.parse($('#wallet-info').text());
        $('#toman-holder').text(wallet_info.toman);
        for (var i = 0; i < wallet_info.coins.length; i++) {
            $('#coin-status-body').append(' <tr>\n' +
                '                        <td><a href="//آپدیت-جدید-">' + wallet_info.coins[i].token + '</a></td>\n' +
                   '                        <td class="text-dark">' + wallet_info.coins[i].address + '</td>\n' +
                '                        <td class="text-primary h6">' + wallet_info.coins[i].balance + '</td>\n' +
                '\n' +
                '                        <td>\n' +
                '                            <form action="/" method="post">\n' +
                '                                <div class="btn-group btn-group-sm">\n' +
                '\n' +
                '                                    <a href="/panel/withdraw"  class="btn-sm text-white btn-dark "برداشت</a>\n' +
                '\n' +
                '\n' +
                '                                </div>\n' +
                '                                <div class="btn-group btn-group-sm">\n' +
                '                                    <a href="/panel/wallet/deposit/' + wallet_info.coins[i].token +'" class="btn-sm text-white btn-primary "واریز</a>\n' +
                '                                </div>\n' +
                '                            </form>\n' +
                '                        </td>\n' +
                '                    </tr>');
        }


        var priceSocket = new WebSocket("wss://ws.testnet.bitpod.live/ws/p")
        var update = function () {
            priceSocket.onmessage = function (event) {
                var tomanBalance
                var coinBalances = {};
                var usdtToman
                var usdtValues = 0.0
                for (var i = 0; i < wallet_info.coins.length; i++) {
                    if (wallet_info.coins[i].token == "TOMAN"){
                       tomanBalance = parseFloat(wallet_info.coins[i].balance)
                    }else{
                        coinBalances[wallet_info.coins[i].token] = parseFloat(wallet_info.coins[i].balance)
                    }
                }
                var data = event.data;

                data = JSON.parse(data);
                for (var key in data.sticky) {
                    if (data.sticky.hasOwnProperty(key)) {
                        if(key == "USDTTOMAN"){
                            usdtToman = parseFloat(data.sticky[key].Market)
                        }else if(key.includes("TOMAN")){

                        }
                        else{
                            console.log(key.replace("USDT","")+ ":" + coinBalances[key.replace("USDT","")])
                            usdtValues += coinBalances[key.replace("USDT","")] *  parseFloat(data.sticky[key].Market)
                        }
                    }
                }
                tomanEquity = tomanBalance + usdtValues * usdtToman
                console.log(usdtValues)
                console.log(usdtToman)
                console.log(coinBalances)
                console.log(tomanEquity)
                document.getElementById("toman-holder").textContent = tomanEquity

            }
        };
        window.setTimeout(update);

    </script>
{% endblock %}
