/*
|----------------------------------------------------------------------------
| 8. Catagori Style
|----------------------------------------------------------------------------
*/
.catagori-section{
    margin-bottom: 120px;
}
.catagori-content-block{
    display: flex;

}
.catagori-list{
    flex-basis: 30%;
    .nav{
        display: block;
    }
    .nav-link{
        padding: 18px;
        border-bottom: 1px solid #e2e3e5;
        h4{
            margin-bottom: 0;
            font-weight: 700;
            color: $dark_blue_clr;
        }
    }
    .nav-item{
        text-align: left;
    }
    .nav-link:hover,
    .nav-link:focus,
    .nav-link.active{
        border-color: transparent;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.08);
    }
    .nav-link.active{
        h4{
            color: $lime_blue_clr;
        }
    }
}
.catagoritab-content{
    flex-basis: 70%;
    padding: 0 0 0 100px;
}
.catagori-content{
    >p{
        margin-bottom: 26px;
    }
    img{
        margin-bottom: 26px;
    }
}

.pros-cons-block{
    .cons-block,
	.pros-block{
		display: flex;
	}
	h5,p{
		margin: 0;
	}
	h5{
        font-weight: 700;
        padding-right: 10px;
    }
    p{
        margin-top: -4px;
    }
    .pros-block{
        margin-bottom: 15px;
    }
}