/*
|----------------------------------------------------------------------------
| 9. Common Component Style
|----------------------------------------------------------------------------
*/
//modal-styling
.modal-backdrop{
    background: #1b1e63;
}
.modal-container{
    .modal-content{
        background: transparent;
        border-color: transparent;
        border-radius: 5px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        -ms-border-radius:5px;
        -o-border-radius:5px;
}
    .modal-body{
        padding: 0;
        background: $white_clr;
        border-radius: 5px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        -ms-border-radius:5px;
        -o-border-radius:5px;
}
    .modal-header{
        text-align: center;
        background: #1b1e63;
        h5{
            font-size: 24px;
            font-weight: 700;
            color: $white_clr;
        }
        .close{
            color: $white_clr;
            &:focus{
                outline: none;
            }
        }
    }
    .modal-info-block{
        text-align: center;
        padding-top: 30px;
        p{
            margin-bottom: 18px;
        }
        .block-inner{
            padding: 8px 25px;
            background: #f7f7f7;
            display: inline-block;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            
            p{
                margin-bottom: 0;
            }
            span{
                font-size: 14px;
                font-weight: 700;
                color: #00c162;
            }
        }
    }
    .user-connected-form-block{
        box-shadow: none;
        border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        -o-border-radius: 0 0 5px 5px;
        p{
            text-align: left;
        }
        .btn-default,
        .form-control{
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
}
    }
    .user-signup-form{
        select{
            font-size: 15px;
            &:focus,
            &:active,
            &:focus:active{
                outline: none;
                box-shadow: none;
                border-color: $border_clr;
            }
        }
    }
}

.user-login-form{
    .pass-remember-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .custom-checkbox .custom-control-label::before{
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
}
}

//latest-news slider
.news-headline-block{
    .news-tags{
        font-weight: 700;
        color: #fefefe;
        border: 1px solid $border_clr;
        padding: 5px 10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
}
.news-headlines-slider{
    a{
        color: #fefefe;
        line-height: 18px;
        transition: all 0.3s ease-in;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        &:hover{
            color: #fff;
        }
    }
       
}

//subheader section
.subheader{
    background: url("../images/bg/2.jpg") no-repeat bottom center;
    padding: 255px 0 120px 0;
    background-size: cover;
    text-align: center;
    position: relative;
    h3,p{
        font-weight: 700;
        color: $body_clr;
    }
    p{
        line-height: 24px;
        font-weight: 300;
        margin-bottom: 15px;
    }
    h3{
        margin-bottom: 25px;
    }
}
.subheader-search{
    width: 50%;
    margin: 0 auto;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    .form-control{
        background: transparent;
    }
    .input-box {
        input[type='text']{
            color: $white_clr;
            border-bottom: 1px solid rgba(255,255,255,0.15);
            border-radius: 5px;
            font-size: 15px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }
        button .fa{
            color: $white_clr;
            font-size: 15px;
        }
    }
    ::placeholder {
        color: $white_clr;
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color: $white_clr;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
       color: $white_clr;
      }
}
//contact
.contact-form-wrap{
    padding: 120px 0;
}
.contact-form{
    .form-row{
        margin-right: -15px;
        margin-left: -15px;
        >.col,
        >[class*=col-]{
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    .form-group {
        margin-bottom: 30px;
    }
    .form-control{
        background: $white_clr;
        border: 1px solid $border_clr;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        &:focus,
        &:active,
        &:focus:active{
            outline: none;
            box-shadow: none;
        }
    }
    input.form-control{
        padding: 0 20px;
        min-height: 55px;
    }
    textarea{
       resize: none;
    }
    .custom-checkbox{
        position: relative;
        padding: 18px 15px;
        border: 1px solid $border_clr;
        border-radius: 5px;
        display: inline-block;
        min-width: 300px;
        margin-bottom: 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        .custom-checkbox-wrap{
            position: relative;
            padding-left: 30px;
        }
        img{
            position: absolute;
            right: 10px;
            top: 5px;
            width: 50px;
            height: 50px;
        }
    }
    .btn-default{
        width: 200px;
        height: 55px;
        text-align: center;
        border-radius: 5px;
        background: $lime_blue_clr;
        font-weight: 700;
        color: $white_clr;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;  
        &:focus,
        &:active,
        &:focus:active{
            outline: none;
            box-shadow: none;
            border-color: transparent;
        }
       
    }
}
.custom-checkbox{
    .custom-control-label::before{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}

.contact-info-outer{
    padding-bottom: 120px;
}
.contact-info-wrap{
    border: 1px solid $border_clr;
    box-shadow: 0px 20px 45px 0px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.map-block{
    height: 400px;
    width: 100%;
}
.contact-info-block{
    padding: 0 160px 0 130px;
    display: flex;
    align-items: center;
    h4{
        font-size: 24px;
        font-weight: 700;
        color: $dark_blue_clr;
        margin-bottom: 45px;
    }

}
.contact-info-list{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    li{
        display: flex;
        align-items: flex-start;
        img{
            margin: 10px 15px 0 0;
        }
        p{
            margin-bottom: 25px;
        }
        &:last-child{
            p{
                margin-bottom: 0;
            }
        }
    }
}
//poststyle section
.lattest-news-section{
    padding-bottom: 120px;
    .setion-title-two{
        margin-bottom: 60px;
    }
}
.post-style-one{
    padding: 40px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: $white_clr;
    border: 1px solid $border_clr;
    .post-metat-date{
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
    }
    .post-title{
        font-weight: 700;
        margin-bottom: 20px;
        a{
            color: $dark_blue_clr;
        }
    }
    .post-entry{
        margin-bottom: 20px;
    }
    .post-link{
        font-weight: 700;
        font-size: 14px;
        color: $lime_blue_clr;
    }
}

//features section
.features-section{
    padding: 120px 0 40px 0; 
}
.features-block{
    margin-bottom: 70px;
    text-align: center;
    img{
        margin: 0 auto 30px auto;
        display: block;
    }
    h4{
        margin-bottom: 20px;
        font-weight: 700;
        color:$soft_navi_clr;
    }
    p{
        margin-bottom: 0;
    }
}
//callto action section
.colto-section{
    background: url('../images/bg/4.png') no-repeat center center;
    background-size: cover;
    padding: 90px 0;
}
.colto-content-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.colto-content{
    h3{
        font-weight: 700;
        margin-bottom: 20px;
        color: $white_clr;
    }
    p{
        color: $white_clr;
        margin: 0;
    }
}
.colto-btn-group{
    display: flex;
    align-items: center;
    span{
        font-weight: 700;
        color: $white_clr;
        height: 34px;
        width: 34px;
        margin: 0 15px;
        display: block;
        text-align: center;
        line-height: 34px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: 1px solid rgba(252,253,255,0.08);
}
}
.callto-btn{
    padding: 17px 40px;
    border: 1px solid rgba(252,253,255,0.08);
    background-color: rgba(252, 253, 255, 0.078);
    border-radius: 5px;
    color: $white_clr;
    font-weight: 700;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    &:hover,
    &:focus,
    &:active,
    &:focus:active{
        box-shadow: none;
        outline: 0;
        color: $lime_blue_clr;
        background: $white_clr;
        border-color: $white_clr;
    }
}

//testimonial section
.testimonials-section{
    padding: 120px 0 160px 0;
    border-top: 1px solid rgba(0,0,0,0.08);
}
.testimonials-title{
    text-align: center;
    margin-bottom: 55px;
    h3{
        font-size: 36px;
        font-weight: 700;
        color: $dark_blue_clr;
    }
}
.testimonial-slider{
    padding: 50px 75px;
    background: $white_clr;
    position: relative;
    box-shadow: 0px 20px 45px 0px rgba(0, 0, 0, 0.05);
    button.slick-next,
    button.slick-prev{
        position: absolute;
        top: 50%;
        color: transparent;
        border: none;
        outline: none;
        height: 20px;
        width: 20px;
        cursor: pointer;
        background: transparent;
        &:before{
            font-family:Font Awesome\ 5 Free;
            color: $deep_gray_clr;
            font-weight: 900;
            font-size: 18px;
        }
    }
    button.slick-next{
        right: -43px;
        &:before{
            content:"\f105";
        }
        
    }
    button.slick-prev{
        left: -43px;
        &:before{
            content:"\f104";
        }
    }
    .slick-slide{
        outline: none;
    }
    .slick-dots{
        list-style: none;
        position: absolute;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        left: 0;
        bottom: -43px;
        display: flex !important;
        justify-content: center;
        li{
            line-height: 100%;
            margin: 8px 15px 0 0;
            &:last-child{
                margin-right: 0px;
            } 
            button{
                color: transparent;
                border: none;
                outline: none;
                height: 8px;
                width: 8px;
                padding: 0;
                cursor: pointer;
                background: rgba(22,82,240,0.5);
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
        }
        li.slick-active{
            margin-top: 5px !important;
            button{
                height: 14px;
                width: 14px;
                background: rgba(22,82,240,1);
            }
        }
    }
}
.testimonial-block{
    text-align: center;
    &:focus{
        outline: none;
    }
    img{
        display: block;
        margin: 0 auto 35px auto;
    }
    p{
        font-size: 18px;
        line-height: 30px;
    }
}
.testimonials-author{
    h5{
        font-weight: 700;
        margin-bottom: 5px;
        color: $soft_navi_clr;
    }
    p{
        margin-bottom: 0;
        font-size: 15px;
    }
}

//support-category-section
.support-category-section{
    padding: 120px 0 50px 0;
}
.support-category-block{
    padding: 40px 0;
    border: 1px solid $border_clr;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    img{
        display: block;
        margin: 0 auto 35px auto;
    }
    h4{
        font-weight: 700;
        margin-bottom: 0;
        color: $soft_navi_clr;
    }
}

//support-list-section
.support-list-section{
    border-top: 1px solid $border_clr;
    padding: 80px 0 40px 0;
}

.support-list,
.others-support-list{
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
        a{
            transition: all 0.3s ease-in;
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            -ms-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;
            &:hover{
                color: $lime_blue_clr;
            }
        }
    }
    li.colord{
        a{
            text-decoration: underline;
            color: $lime_blue_clr;
        }
        
    }
}

.support-list-block,
.others-support-list-block{
    h5{
        margin-bottom: 30px;
        color: $dark_blue_clr;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
    }
}
.others-support-list-block{
    padding: 47px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color:  $border_clr;
}
.others-support-list-section{
    padding: 0 0 120px 0;
}

//login-signup
.user-login-signup-section{
    padding: 290px 0 180px 0;
    background: url('../images/bg/5.jpg') no-repeat center center;
    background-size: cover;
}
.user-login-signup-form-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    .modal-content{
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 50%;
    }
    .modal-content>h3{
        font-size: 24px;
        font-weight: 700;
        color: $white_clr;
        margin: 0 auto 45px auto;
    }
}