
@import "./nav";
@import "./coin-list";
@import "./activity";
@import "./wallets";
@import "./banner";
@import "./live-graph";
@import "./catagori";
@import "./common-component";
@import "./currency-dashboard";
@import "./tranding-info";
@import "./working-process";
@import "./post";
@import "./news-details";
@import "./support-details";
@import "./faq";
@import "./footer";