/*---------------------------------------------
	14 Blog Details Style
---------------------------------------------*/

.blog-details-wrapper{
	display: flex;
	justify-content: space-between;
	padding: 120px 0 40px 0;
	.info{
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 20%;
		.post-author-block{
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 42px;
			a{
				display: block;
			}
		}
		.author-info{
			h5{
				font-weight: 700;
				margin-bottom: 0;
				font-size: 14px;
				color: $deep_gray_clr;
			}
		}
		.author-thumb{
			margin-right: 15px;
		}
		.post-meta-block{
			span{
				color: $lime_blue_clr;
				display: block;
				margin-bottom: 10px;
			}
		}
		.post-comments{
			display: flex;
			justify-content: flex-start;
			align-items: center;
			img{
				margin: 0 15px 0 0;
			}
		}
	}
    
}
.details-post-meta-block{
	padding: 50px 0;
	background: $white_clr;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: $border_clr;
}
.post-tag-block{
	h5{
		margin-bottom: 15px;
		font-weight: 700;
		color: $soft_navi_clr;
	}
	.tags{
		a{
			padding: 3px 15px;
			border: 1px solid $border_clr;
			margin-right: 5px;
			font-size: 12px;
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			-o-border-radius: 5px;
			transition: all 0.3s ease-in;
			&:hover{
				border-color: $lime_blue_clr;
				color: $lime_blue_clr;
			}
		}
	}
}
.details-post-meta-block-wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
	.post-author-block{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		img{
			margin-right: 15px;
		}
		.author-info{
			h5{
				font-weight: 700;
				margin-bottom: 0;
			}
		}
	}
}
.single-post-block{
	.post-thumb-block{
		margin-bottom: 40px;
	}
	.post-title{
		font-size: 24px;
		font-weight: 700;
		color: $dark_blue_clr;
		margin-bottom: 20px;
	}
	blockquote{
		padding: 15px 30px;
		font-size: 16px;
		font-weight: 700;
		color: $dark_blue_clr;
	 }
	 .list-post-entry{
		 margin: 0 0 30px 0;
		 padding: 0;
		 list-style: none;
		 li{
			 i.fas{
				 margin-right: 20px;
				 color: #aaaaaa;
			 }
		 }
		 li+li{
			 margin-top: 10px;
		 }
	 }
}
.post-comment-block {
	display: flex;
	.comment-respond,
	.comment-area {
		flex: 1;
		padding: 60px 30px;
		h4 {
			font-size: 18px;
			font-weight: 700;
			color: $soft_navi_clr;
			margin-bottom: 42px;
		}
	}
	.form-control{
		background: transparent;
	}
	.comment-respond {
		position: relative;
		&:before {
			position: absolute;
			content: '';
			top: 60px;
			right: 0;
			bottom: 60px;
			width: 1px;
			background: rgba($lime_dark, .08);
		}
		.form-group {
			margin-bottom: 30px;
			textarea{
				resize: none;
			}
			.form-control {
				height: 50px;
				border: 0;
				border-bottom: 1px solid rgba($lime_dark, .08);
				border-radius: 0;
				font-size: 14px;
				outline: none;
				box-shadow: none;
				&:focus {
					border-bottom-color: $lime_blue_clr;
				}
			}
			textarea.form-control {
				height: 100px;
			}
		}
	}
	.comment-area {
		.comments {
			padding: 0;
			margin: 0;
			list-style: none;
			.comment {
				.comment-wrap {
					padding-bottom: 30px;
					border-bottom: 1px solid rgba($lime_dark, .08);
					.comment-info {
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						.commenter-thumb {
							height: 55px;
							width: 55px;
							border-radius: 50%;
							overflow: hidden;
						}
						.commenter-info {
							padding-left: 20px;
							span {
								display: block;
								&.commenter-name {
									font-size: 14px;
									font-weight: 700;
									line-height: 100%;
									color: $soft_navi_clr;
								}
								&.date {
									font-size: 12px;
									color:  $deep_gray_clr;
								}
							}
						}
						.reply {
							margin-left: auto;
							.reply-button {
								font-size: 12px;
								outline: none;
								box-shadow: none;
								cursor: pointer;
								text-transform: uppercase;
								color:  $body_clr;
								background: #f7f9fc;
								color: $deep_gray_clr;
								border: 1px solid $border_clr;
								border-radius: 3px;
								padding: 0px 15px;
								transition: all 0.3s ease-in;
								-webkit-transition: all 0.3s ease-in;
								-moz-transition: all 0.3s ease-in;
								-ms-transition: all 0.3s ease-in;
								-o-transition: all 0.3s ease-in;
								&:hover {
									color: $lime_blue_clr;
									border-color: $lime_blue_clr;
								}

							}
							.modal-body {
								.comment-respond:before {
									height: 0;
									width: 0;
								}
							}
						}
					}
					.comment-body {
						padding-top: 12px;
						color:  $deep_gray_clr;
						p{
							margin-bottom: 5px;
						}
					}
				}
				.child-comment {
					margin-left: 40px;
					margin-top: 30px;
				}
				&:last-child {
					.child-comment {
						.comment:last-child {
							.comment-wrap {
								border-bottom: 1px solid rgba($lime_dark, .08);
								padding-bottom: 30px;
							}
						}
					}
				}
			}
			.comment + .comment {
				margin-top: 30px;
			}
		}
		.view-all {
			margin-top: 20px;
			text-align: center;
			font-size: 1.4rem;
			
			font-weight: 500;
			color: $lime_blue_clr;
			text-decoration: underline;
		}
	}
}

.comment-respond{
	.btn-default {
		width: 170px;
		height: 55px;
		background: $lime_blue_clr;
		font-weight: 700;
		color: $white_clr;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		&:hover,
		&:active,
		&:active:focus{
			outline: none;
			box-shadow: none;
			
		}
	}
}
